
    <div id="dcMain">
        <!-- 当前位置 -->
        <div id="urHere"><a href="index.html">畅评首页</a><b>></b><strong>书评列表</strong> </div>   <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
        <h3><a href="addbookreview.html?rec=add" class="actionBtn add">添加书评</a>书评列表</h3>

        <div id="list">
            <form name="action" method="post" action="#">
                <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
                    <tr>
                        <th width="22" align="center"><input name='chkall' type='checkbox' id='chkall' onclick='selectcheckbox(this.form)' value='check'></th>
                        <th width="80" align="center">ID</th>
                        <th width="80" align="center">图书ID</th>
                        <th align="center">书评标题</th>
                        <th width="100" align="center">书评类型</th>
                        <th width="150">书评状态</th>
                        <th width="80" align="center">用户ID</th>
                        <th width="150" align="center">发表时间</th>
                        <th width="100" align="center">操作</th>
                    </tr>
                    <tr>
                        <td align="center"><input type="checkbox" name="checkbox[]" value="15" /></td>
                        <td align="center">5</td>
                        <td align="center">5</td>
                        <td align="center">读钢铁是怎样炼成的</td>
                        <td align="center">文学类</td>
                        <td align="center">已发表</td>
                        <td align="center">5</td>
                        <td align="center">2013-06-26</td>
                        <td align="center">
                            <a href="editbookreview.html">编辑</a> | <a href="#">删除</a>
                        </td>
                    </tr>
                    <tr>
                        <td align="center"><input type="checkbox" name="checkbox[]" value="15" /></td>
                        <td align="center">4</td>
                        <td align="center">4</td>
                        <td align="center">读钢铁是怎样炼成的</td>
                        <td align="center">文学类</td>
                        <td align="center">已发表</td>
                        <td align="center">4</td>
                        <td align="center">2013-06-26</td>
                        <td align="center">
                            <a href="editbookreview.html">编辑</a> | <a href="#">删除</a>
                        </td>
                    </tr>
                    <tr>
                        <td align="center"><input type="checkbox" name="checkbox[]" value="15" /></td>
                        <td align="center">3</td>
                        <td align="center">3</td>
                        <td align="center">读钢铁是怎样炼成的</td>
                        <td align="center">文学类</td>
                        <td align="center">草稿箱</td>
                        <td align="center">3</td>
                        <td align="center">2013-06-26</td>
                        <td align="center">
                            <a href="editbookreview.html">编辑</a> | <a href="#">删除</a>
                        </td>
                    <tr>
                        <td align="center"><input type="checkbox" name="checkbox[]" value="15" /></td>
                        <td align="center">2</td>
                        <td align="center">2</td>
                        <td align="center">读钢铁是怎样炼成的</td>
                        <td align="center">文学类</td>
                        <td align="center">已删除</td>

                        <td align="center">2</td>
                        <td align="center">2013-06-26</td>
                        <td align="center">
                            <a href="editbookreview.html">编辑</a> | <a href="#">删除</a>
                        </td>
                    </tr>

                    <tr>
                        <td align="center"><input type="checkbox" name="checkbox[]" value="15" /></td>
                        <td align="center">1</td>
                        <td align="center">1</td>
                        <td align="center">读钢铁是怎样炼成的</td>
                        <td align="center">文学类</td>
                        <td align="center">已发表</td>

                        <td align="center">1</td>
                        <td align="center">2013-06-26</td>
                        <td align="center">
                            <a href="editbookreview.html">编辑</a> | <a href="#">删除</a>
                        </td>
                    </tr>


                </table>
            </form>
        </div>

