<div id="dcMain">
   <!-- 当前位置 -->
  <div id="urHere">
    <a href="__MODULE__/Index/index">畅评首页</a>
    <b>></b><strong>编辑图书</strong> 
  </div>   
  <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
    <h3><a href="__MODULE__/Books/lists" class="actionBtn">图书列表</a>编辑图书</h3>
    <form action="__MODULE__/Books/update" method="post" enctype="multipart/form-data">
      <input type="hidden" name="bookid" value="{$books.bookid}">

      <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
        <tr>
          <td width="80" align="center">图书名称</td>
          <td>
            <input type="text" name="bookname" size="40" class="inpMain" value="{$books.bookname}" />
          </td>
        </tr>
        <tr>
          <td align="center">图书作者</td>
          <td>
            <input type="text" name="bookauthor" size="40" class="inpMain" value="{$books.bookauthor}" />
          </td>
        </tr>
        <tr>
          <td align="center">图书类型</td>
          <td>
            <select name="bcid" value="{$books.bcid}">
              <volist name="data" id="t">
                <option value="{$t.bcid}">- {$t.typebcname}</option>
              </volist>
            </select>
          </td>
        </tr>
        <tr>
          <td align="center">图书简介</td>
          <td>
            <textarea name="bookcontent" cols="60" rows="4" class="textArea">{$books.bookcontent}</textarea>
          </td>
        </tr>
        <tr>
          <td align="center">添加时间</td>
          <td>
            <input type="text" name="addtime" size="5" class="inpMain" value="{:date('Y-m-d H:i:s')}" />
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <input name="submit" class="btn" type="submit" value="提交" />
          </td>
        </tr>
      </table>
    </form>
    <div class="clear"></div>
  </div><!-- mainbox over -->
</div>