<form action="__MODULE__/Books/delete" >
 <div id="dcMain">
   <!-- 当前位置 -->
<div id="urHere"><a href="index.html">畅评首页</a><b>></b><strong>图书列表</strong> </div>   <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
        <h3><a href="addbook" class="actionBtn add">添加图书</a>图书列表</h3>
   
    <div id="list">
    <form name="action" method="post" >
    <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
      <tr>
        <th width="22" align="center"><input name='chkall' type='checkbox' id='chkall' onclick='selectcheckbox(this.form)' value='check'></th>
        <th width="40" align="center">ID</th>
        <th width="60" align="center">图书名称</th>
        <th width="150" align="center">图书作者</th>
        <th width="100" align="center">图书类型</th>
        <th width="300" align="center">图书简介</th>
       <th width="100" align="center">添加时间</th>
        <th width="80" align="center">操作</th>
      </tr>

        <volist name="booklist" id="b">
            <tr>
                <td align="center"><input type="checkbox" name="booksId[]" value="{$b.bookid}" /></td>
                <td align="center">{$b.bookid}</td>
                <td align="center"><a href="product.php?rec=edit&id=15">{$b.bookname}</a></td>
                <td align="center"><a href="product.php?cat_id=3">{$b.bookauthor}</a></td>
                <td align="center">{$b.booktype}</td>
                <td style="font-size:14px">{$b.bookcontent|mb_substr=0,66,'utf-8'}</td>
                <td align="center">{$b.addtime}</td>
                <td align="center">
                 <a href="__MODULE__/Books/editbook/booksId/{$b.bookid}">编辑</a> | <a href="__MODULE__/Books/delete/booksId/{$b.bookid}">删除</a>
                </td>
          </tr>
        </volist>
      
    </table>
    <br/>
    
    <!-- <div class="action"> -->
    </form>
    </div>
    <div class="clear"></div>
    <div class="input-group pull-left form">
        <button type="button" class="btn" style="background-color:#20B2AA;"> 批量删除</button>
    </div>
   <!--  <ul class="pagination pull-right" style="float:left;margin-left:960px;">
        {$page}              
    </ul> -->

    <div class="pager"><!-- 总计 5 个记录，共 1 页，当前第 1 页 |  -->
    <!-- <a href="book.html">第一页</a> 上一页 下一页 <a href="book.html">最末页</a> -->
    {$page}     
    </div>               </div>
 </div>
 </form>
 