        #mask{ 
	background-color:#ccc;
	opacity:0.5;
	filter: alpha(opacity=50); 
	position:absolute; 
	left:0;
	top:0;
	z-index:1000;
	}

#y{
	background-color: #FD573C;
	color: #fff;
	border:1px #FD573C solid;
	padding: 3px 6px;
	border-radius:3px;
	position: relative;
	top: 20%;
}
#n{
	color: #666;
	background-color: #fff;
	border:1px #666 solid;
	padding: 3px 6px;
	border-radius:3px;
	position: relative;
	top: 20%;
	margin-right: 0;
}


#yes1{
	width:390px;
	height: 244px;		
	background:#fff center center no-repeat;
	border-top:4px #5EB2F0 solid;
	}

.alert-collect1{
    margin-top: 15px;
    height: 180px;
    border-bottom: 1px #E4E4E4 solid;
}
.alert-collect1 p{
	text-align: center;
}
#colsuccess1{
	font: 14px Microsoft YaHei;
	margin-top: -20px;
}



.alert-collect-footer1{
    background-color: #D6D6D6;
	height: 40px;
	padding-left:  160px;

}

#yes2{
	background-color: #FF6347;
	color: white;
	border-radius: 5px;
	border: 0px;
    margin-top: 7px;
    width: 45px;
    height: 30px;
     }



#collectB{ 
	position:fixed;
	z-index:1001;
	}
.collectCon{ 
	position:relative; 
	width:390px;
	height: 244px;
	background:#fff center center no-repeat;
	border-top:4px #5EB2F0 solid;
	}
#collect h5{
	font: 14px bolder Microsoft YaHei;
	font-weight: bolder;
	padding-left: 12px;
    }
#collect{
	height: 26px;
	border-bottom: 1px #E4E4E4 solid;
    }
.alert-collect{
    margin-top: 15px;
    height: 180px;
    border-bottom: 1px #E4E4E4 solid;
}
.alert-collect p{
	text-align: center;
}


#warning{
	margin-top: 5px;
	color: #666;
	font-size: 12px;
}
#book{
	width: 200px;
}


.alert-collect-footer{
    background-color: #D6D6D6;
	height: 44px;
	padding-left:  140px;
}
.alert-collect-footer a{
	position: relative;
	left: -17%;
}
#y{
	background-color: #FF6347;
	color: white;
	border-radius: 5px;
     }
#n {
	margin-left: 10px;
	background-color: white;
	border-radius: 5px;
  }
  #yes1{position: absolute;
         top: 31.6%;
         left: 35.6%;}
