@charset "utf-8";
/* CSS Document */
* {
	font-size: 100%;
	font-family:Arial, "Microsoft YaHei", sans-serif;
	text-decoration: none;
}
html,body {
	margin:0;
	height:100%;
	overflow: hidden;
}
body {
	background: rgb(252,252,252);
	border:0;
	padding:0;
}
ol, ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
a {
	text-decoration:none;
	color:rgb(219,124,102);
}
a:focus,input {
	outline:none;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
/*canvas样式*/
#canvas {
    padding: 0;
}
/*canvas里面 侧栏按钮样式*/
.aside-nav {
	width:3%;
	height:100%;
	background-color:#fff;
	border-right:1px solid #eee;
	float:left;
	text-align:center;
}
.aside-nav a{
	color: rgb(94,178,240);
	margin-top: 300px;
	display: block;
}
.aside-nav a:hover{
	color: #000;
	text-decoration: none;
}
/*canvas里面 侧栏样式*/
#nav{
	background: rgb(253,253,253);
	border-right: 1px solid #dcdcdc;
	z-index: 100;
}
.row {
	margin-left: -7px;
}
.unlogstatus {
	display: none;
	float:right;
	margin-left:25px;
}
.unlogstatus a{
	border:none;
}
.unlogstatus2 {
	height: 51px;
	width: 100%;
	margin-top: 100px;
	margin-bottom: 13px;
	display: none;
}
.unlogstatus2 a{
	text-align: center;
	display:block;
	margin: auto;
}
/*.unlogstatus3 {
	height: 37px;
	width: 100%;
	display: hidden;
}*/
.nav-photo {
	display: block;
	border-radius:50%;
	margin: 0 auto;
	margin-top: 60px;
	cursor: pointer;/*显示小手*/
}
.nav-username {
	display: block;
	text-align: center;
	margin-top: 13px;
	font-size: 12px;
	color: rgb(219,124,102);
}
.nav-msg {
	margin-top:26px;
	margin-bottom: 22px;
}
.nav-msg ul{
	/*display: none;*/
	display: block;
	text-align: center;
	margin-left: 5px;
}
.nav-msg ul li { 
	font-size: 12px;
    float: left;
    width:56px;
    text-align: center;
}
.nav-write-btn {
	margin-left: 8px;
	text-align: center;	
}
.nav-write-btn a{
	font-size:12px;
	border:1px solid #dcdcdc;
	border-radius:9px;
	padding:2px 12px;
	color:#da7c66;
}
.nav-menu {
	margin-top: 20px;
	text-align: center;
	font-size: 12px;
}
.nav-menu .nav-second-menu{
	display: none;
}
.nav-menu .nav-book-classify:hover .nav-second-menu {
	display:block; 
 	border:1px solid #dcdcdc;
 	background-color: rgb(253,253,253);
 	width: 145px;
    line-height: 40px;  
    left:291px; 
   /* height:auto;*/
    top:-100px;  
    position:absolute;
}
.nav-menu .nav-third-menu {
	display: none;
}
.nav-menu .nav-second-menu li {
    position:relative;
}
.nav-menu .nav-second-menu li:hover .nav-third-menu {
	display:block; 
 	border:1px solid #dcdcdc;
 	width: 375px;
 	padding: 10px;
 	background-color: rgb(253,253,253);
    line-height: 40px;  
    left:143px; 
    /*height: auto;*/
    top:-1px; 
    position:absolute;
}
.nav-menu .nav-second-menu li:hover .nav-third-menu a{
	float: left;
    margin-left: 12px;
    margin-right: 12px;
}   
.nav-menu .nav-second-menu li:hover .nav-third-menu a:hover {
    color: #000;
}  
.nav-menu ul {
	margin: 0;
}
.nav-menu li {
	height: 40px;
    line-height: 40px;
    width: 100%;
	display: block;
}
.nav-book-classify {
	position: relative;
}
.nav-menu li:hover {
	background-color: rgb(242,242,242); 
}
.nav-menu li a {
	color: #666;
}
#nav .row:last-child {
	position: absolute;
	margin-left:118px;
	bottom: 0;
	margin-bottom: 20px;
}
.nav-feedback-btn {
	text-align: center;
	margin-left: -2px;
}
.nav-feedback-btn a{
	font-size:12px;
	border:1px solid #dcdcdc;
	border-radius:9px;
	padding:2px 12px;
	color:#da7c66;
}
.nav-child {
	position: relative;
	height: 100%;
}
/*canvas里面 导航样式*/
header {
	height:7%;
	color:#fff;
	width:100%;
	background-color:rgb(94,178,240);
}
.top-nav {
	margin:auto 50px;
}
.logo {
	float:left;
	padding-top:2px;
}
#search {
	border:none;
	background:none;
	padding-bottom:8px;
	border-bottom:1px solid #fff;
	width:200px;
	outline: none;
	font-size:12px;
	float:left;
	color:#fff;
	margin-left:30%;
	margin-top:10px;
}
.header-right {
	float:right;
}	
.header-right a {
	height:20px;
	line-height:44px;
	font-size:12px;
	border:1px solid;
	border-radius:9px;
	padding:2px 12px;
	color:#fff;
}
.myphoto {
	float:right;
	margin-left:25px;	
}
.myphoto img {
	 border-radius:50%;
	 margin-top:4px;
	}
.myphoto span {
	font-size:12px;
	line-height:44px;
	float:right;
	margin-left:13px;
	height:13px;
}
.dropdown-menu li a {
	border:none;
	text-align: center;
}
.dropdown-menu {
margin-top: 5px;
min-width: 110px;
left: -30px;
}
/*canvas里面 content样式*/
#content {
/*	border: 1px solid red;*/
	height: 88%;
	width:97%;
	left: 3%;
	position: absolute;
	overflow: auto;
}
/*canvas里面 footer样式*/
footer {
	position: absolute;
	bottom: 0;
	left:0;
	height: 5%;
	width: 100%;
	background-color: #eee;
	z-index: -1;
}
footer p{
    color: #999;
    font-size: 12px;
    text-align: center;
    margin-top: 0.5%;/*比例按宽度算*/
    margin-bottom: 0;
}
