/*canvas里面 content样式*/
#content {
    height: 88%;
    width:97%;
    left: 3%;
    /*position: absolute;*/
    /*overflow: auto;*/
}
.nav-menu li a {
    display: block;
}
/*canvas里面 content样式里的首页简书样式*/
.content-right {
    height: 100%;
    width: 100%;
    /*overflow:hidden;*/
    clear:both; 
    /*border: 1px solid red;*/
}
.content-right-top{
	width: 100%;
	height: 10%;
	/*border: 1px solid green;*/
	/*background-color: #FAFAFA;*/
}
.content-right-top ol{
    left: 0;
    width: 100%;
    margin-top: 1.2%;
    z-index: 300;
    position: fixed;
    color: #666;
    font-size: 1.1em;
    margin-left: 5%;
}
.content-right-top ol li{
    float: left;
}
.content-right-top ol a:hover{
    text-decoration: none;
    font-weight: bold;
}
.content-right-bottom{
    height: 90%;
    width: 100%;
    clear:both; 
    /*border: 1px solid blue;*/
    overflow: auto;
}

.scale-one{
    height:65%;
    width: 85%;
    margin-left: 7%;
    border:1px solid #F0F0F0;
    background-color: #FAFAFA;
    /*overflow: hidden;*/
}
.scale-one-left{
    height: 100%;
    width: 33%;
    float: left;
    border-right: 1px solid #F0F0F0;
}
.one-left-top{
    clear: both;
    width: 100%;
    height: 28%;
}
.one-left-top div{
    margin-top: 3%;
}
.one-left-top img{
    margin-left: 20%;
}
.one-left-top p{
    margin-top: 48%;
    font-size: 1em;
    /*padding-left: 2%;*/
    /*padding-right: 5%;*/
}
.one-left-top a{
    color: #5eb3ef;
    outline-style: none;
    bblr:expression(this.onFocus=this.blur());
}
.one-left-top a:hover{
    text-decoration: none;
    font-weight: bold;
}
.one-left-center{
    width: 100%;
    height: 12%;
    float: left;
    border-bottom: 1px solid #F0F0F0;
}
.one-left-center p{
    width: 100%;
    float: left;
    font-size: 1.1em;
    color: #da7c66;
    margin-top: 4%;
    margin-left: 6%;
    text-align: center;
}
.one-left-center a{
    outline-style: none;
    bblr:expression(this.onFocus=this.blur());
}
.one-left-center a:hover{
    text-decoration: none;
    font-weight: bold;
    color: #da7c66;
}
#one-left-scare{
    width: 80%;
    background-color: #FAFAFA;
    border-color:#da7c66;border:1px solid #da7c66;border-radius:1.2em;
    padding:0.5% 0.3%;
    margin-left: 145%;
    font-size: 1.1em;
    margin-bottom: 1%;
    text-align: center;
}
.one-left-bottom{
    clear: both;
    width: 100%;
    height: 60%;
    border-bottom:1px solid #F0F0F0;
}
.one-left-bottom p{
    height: 100%;
    font-size: 0.9em;
    line-height: 200%;
    /*letter-spacing:12px;*/
    margin:0 5%;
    padding-top: 5%;
    /*text-indent:2em;*/
    text-align:justify;
    color:#404040;
}

.scale-one-right{
    height: 100%;
    width:67%;
    float:left;
    /*border:1px solid red;*/
}
.scale-one-right ul{
    width: 100%;
    height: 15%;
    list-style: none;
    background-color: #FAFAFA;
    border-bottom:1px solid #F0F0F0;
    float:left;
}
.scale-one-right ul li{
    width: 33.3%;
    height: 100%;
    background-color: #FAFAFA;
    text-align: center;
    float:left;
    padding-top: 2.5%;
}
.scale-one-right ul li a{
/*    width: 100%;
    height: 100%;*/
    color: #3B3B3B;
    display: block;
    outline-style: none;
    bblr:expression(this.onFocus=this.blur());
}
.scale-one-right ul li a:hover{
    color: #0D0D0D;
    font-weight: bolder;
}
.tab-content{
    clear: both;
    width: 100%;
    height: 85%;
    margin-top: 6%;
    /*border:1px solid green;*/
}
#panel-975137{
    height: 100%;
    clear: both;
    background-color: #FAFAFA;
    color:#8B8386;
}
#panel-975137 a{
    color:#EE6A50;
    outline-style: none;
    bblr:expression(this.onFocus=this.blur());
}
#panel-975137 a:hover{
    color:#CD0000;
    text-decoration: none;
    font-weight: bolder;
}
.panel-one{
    clear: both;
    height: 50%;
    padding-top: 1%;
    /*margin-bottom: 0.3%;*/
    /*border: 1px solid yellow;*/
}
.panel-one p{
   margin-top: 2.2%;
   font-size: 1em;
}
.fy1 {
    width: 100%;
    /*margin-top: 16%;*/
}
.fy1 span{
    margin-left: 2%;
}
.fy2{
    width: 100%;
}
.fy2 span{
    margin-left: 2%;
    font-size:1.4em;
    /*margin-right:57%;*/
    color:#404040;
}
.fy2 a{
    border:1px solid #696969;
    padding:0.5% 1%;
    border-radius:0.3em;
    color:#696969;
    margin-left: 57%;
}
.fy2 a:hover{
    text-decoration: none;
    color:#696969;
    font-weight: bold;
}
.fy3{
    width: 100%;
    margin-top: 1%;
}
.fy3 span{
    margin-left: 2%;
    margin-top: 3%;
}
#panel-113221{
    height: 100%;
    clear: both;
    background-color: #FAFAFA;
    color:#8B8386;
}
#panel-113221 a{
    color:#EE6A50;
    outline-style: none;
    bblr:expression(this.onFocus=this.blur());
}
#panel-113221 a:hover{
    color:#CD0000;
    text-decoration: none;
    font-weight: bolder;
}
#panel-113222{
    height: 100%;
    clear: both;
    background-color: #FAFAFA;
    color:#8B8386;
}
#panel-113222 a{
    color:#EE6A50;
    outline-style: none;
    bblr:expression(this.onFocus=this.blur());
}
#panel-113222 a:hover{
    color:#CD0000;
    text-decoration: none;
    font-weight: bolder;
}
/*第二个div的选择卡项的设置*/
.scale-two{
    margin-top: 3%;
}
#panel-975138{
    height: 100%;
    clear: both;
    background-color: #FAFAFA;
    color:#8B8386;
}
#panel-975138 a{
    color:#EE6A50;
    outline-style: none;
    bblr:expression(this.onFocus=this.blur());
}
#panel-975138 a:hover{
    color:#CD0000;
    text-decoration: none;
    font-weight: bolder;
}
#panel-113321{
    height: 100%;
    clear: both;
    background-color: #FAFAFA;
    color:#8B8386;
}
#panel-113321 a{
    color:#EE6A50;
    outline-style: none;
    bblr:expression(this.onFocus=this.blur());
}
#panel-113321 a:hover{
    color:#CD0000;
    text-decoration: none;
    font-weight: bolder;
}
#panel-113322{
    height: 100%;
    clear: both;
    background-color: #FAFAFA;
    color:#8B8386;
}
#panel-113322 a{
    color:#EE6A50;
    outline-style: none;
    bblr:expression(this.onFocus=this.blur());
}
#panel-113322 a:hover{
    color:#CD0000;
    text-decoration: none;
    font-weight: bolder;
}
/*第三个div的选择卡项的设置*/
.scale-three{
    margin-top: 3%;
}
#panel-975139{
    height: 100%;
    clear: both;
    background-color: #FAFAFA;
    color:#8B8386;
}
#panel-975139 a{
    color:#EE6A50;
    outline-style: none;
    bblr:expression(this.onFocus=this.blur());
}
#panel-975139 a:hover{
    color:#CD0000;
    text-decoration: none;
    font-weight: bolder;
}
#panel-113421{
    height: 100%;
    clear: both;
    background-color: #FAFAFA;
    color:#8B8386;
}
#panel-113421 a{
    color:#EE6A50;
    outline-style: none;
    bblr:expression(this.onFocus=this.blur());
}
#panel-113421 a:hover{
    color:#CD0000;
    text-decoration: none;
    font-weight: bolder;
}
#panel-113422{
    height: 100%;
    clear: both;
    background-color: #FAFAFA;
    color:#8B8386;
}
#panel-113422 p{
    text-align: center;
    font-size: 1.7em;
    padding-top: 5%;
}
#panel-113422 a{
    color:#EE6A50;
    outline-style: none;
    bblr:expression(this.onFocus=this.blur());
}
#panel-113422 a:hover{
    color:#CD0000;
    text-decoration: none;
    font-weight: bolder;
}