#nav {
	z-index: 100;
}
/*canvas里面 content样式*/
#content {
	height: 88%;
	width:97%;#nav {
	z-index: 100;
}
/*canvas里面 content样式*/
#content {
	height: 88%;
	width:97%;
	left: 3%;
	position: absolute;
	overflow: auto;
    border: 0px;
}
/*content左边*/
.content-left{
	width:15%;
	height: 100%;
	border-right: 1px #D4D4D4 solid;
	background-color:#F5F5F5; 
	float: left;
      
}
.introduction{
	height: 200px;
	border-bottom: 1px #D4D4D4 solid;
	border-top: 1px #D4D4D4 solid;
	background-color: #F5F5F5;
}
.introduction img{
	margin:auto;
	margin-top: 25px;
	border-radius:50%;
}
#name{
	color: #67B9FF;
	text-align: center;
}
.list{	
	padding-top: 6px;
    text-align:center;
}
.list ul{
	width: 80%;
	display: block;
	margin: 0 auto;
}
.list ul:last-child{
	margin-top: 15px;
	font-size: 12px;
	width: 80%;
	display: block;
	margin: 0 auto;
}
.list ul li{
	float: left;
	width: 25%;
	text-align: center;
}
.list a{
	color: #5eb3ef;
	font-size:12px;
}
.list p{
	color: #666;
	font-size: 12px;
	margin-top: 2px;
	margin-left: 18px;
	margin-right: 18px;
	float: left;
}
.function{	
    bottom: 0;
    background-color: #F5F5F5;
}
.function p{
	text-align: center;
}
.function-top{
	font-size: 0.8em;
	line-height: 180%;
	padding: 2% 7%;
}
.function p:first-child{
	text-align: justify;
}
#distance{
	padding-top: 30px;
}
.function a{
	color: #da7c66;
	line-height:30px;
	font-size:12px;
	border:1px solid;
	border-radius:9px;
	padding:2px 12px;
	border-color: #dcdcdc;
}
.function a:hover{
	background-color: #da7c66;
	color: #fff;
	border:none;
}
/*content右边*/
/*canvas里面 content样式里的首页简书样式*/
.content-right {
	width: 85%;
	height: 97%;
	overflow:auto;
 	clear:both;
    padding-left: 0px;
    display: inline;
 	position: absolute;    
    top: 10px;
}
/*右边上部面包屑*/
.content-right-top{
	width: 100%;
	height: 7%;
	/*border: 1px solid green;*/
	/*background-color: #FAFAFA;*/
}
.content-right-top ol{
	left: 15%;
	width: 100%;
	margin-top: 0.6%;
	z-index: 300;
	position: fixed;
	color: #666;
	font-size: 0.9em;
	margin-left: 5%;
}
.content-right-top ol li{
	float: left;
}
.content-right-top ol a:hover{
	text-decoration: none;
	font-weight: bold;
}
/*右边下部他的所有书评*/
.content-right-bottom{
	height: 93%;
    width: 100%;
    overflow:auto;
    clear:both; 
    /*border: 1px solid blue;*/
    position: absolute;
}
.content-book-comments{
	height: 100%;
	width: 100%;
	overflow:hidden;     
}
.mCSB_horizontal > .mCSB_container{
	margin-bottom: 0;
	height: 100%;
}
.content-book-comment1{
	width:300px;
	height: 92%;
	/*position: relative;*/
	background-color: #f7f7f7;
	border: 1px solid #dbdce0;
	padding: 0.1% 0.1% 0.1% 0.1%;
	margin: 0.35% 0.9% 0.4% 0.9%;
	float: left;
	display: block;
}
.content-book-comment1 img{

}
/*.content-book-comment1:first-child {
	margin-left:1%;
}*/
/*.content-book-comment1:last-child {
	margin-right:1%;
}*/
.book-comment1 .comment-more-btn {
    padding-left: 1.2%;
}
.book-comment2 .comment-more-btn {
     padding-left: 1.2%;
}
.book-comment3 .comment-more-btn {
     padding-left: 1.2%;
}
.book-comment4 .comment-more-btn {
     padding-left: 1.2%;
}
.book-comment5 .comment-more-btn {
     padding-left: 1.2%;
}
.book-comment6 .comment-more-btn {
     padding-left: 1.2%;
}
.comment-top {
	height: 25%;
	width: 100%;
	border-bottom: 1px solid #dbdce0;
	padding: 2% 2% 0 5%;
}
.row1{
	width: 100%;
	height: 50%;
}
.row2{
	width: 100%;
	height: 50%;
}
.comment-photo {
	border-radius:50%;
	margin: 2% 2%;
	display: block;
	float: left;
}
.comment-msg1 {
	float: left;
	/*margin-left:5%;*/
	position: relative;
}
.close{
	/*margin-left: 7.5%;*/
	float: left;
	position: absolute;
	margin-left: 8.5%;
}
.close:hover{
	display: block;
	position: absolute;
}
.comment-msg1 li{
	color: #999;
	font-size: 0.9em;
	/*margin-top: 2%;*/
}
.comment-msg1 li:first-child {
	margin-bottom:5%;
}
.comment-msg1 span{
}
.comment-msg2 {
	margin-top: 1%;
	display: block;
	font-size: 0.9em;
}
.comment-msg2 li:first-child {
	margin-bottom: 4%;
	color: #999;
}
.comment-msg2 li:first-child a {
	color: #999;
}
.comment-msg2 li:last-child {
	color: #da7c66;
	margin-top: 3%;
}
.comment-bottom {
	height: 75%;
	width: 100%;
	padding: 3% 5% 0 5%;
}
.comment-bottom h3 {
	font-size: 1.5em;
	text-align: center;
	color: #da7c66;
	height: 10%;
}
.comment-bottom p {
	line-height: 200%;
	color: #666;
	text-overflow:ellipsis;
	/*white-space:nowrap;*/
	width:100%;
	overflow: hidden;
	text-overflow:ellipsis;
/*display:-webkit-box;
-webkit-line-clamp:3;
-webkit-box-orient:vertical;*/
}
@media screen and (min-height: 769px) { 
.comment-bottom p {height: 320px} 
}  
@media screen and (max-height: 768px) { 
.comment-bottom p {height: 310px} 
}  
@media screen and (max-height: 638px) { 
.comment-bottom p {height: 220px} 
}
@media screen and (max-height: 614px) { 
.comment-bottom p {height: 230px;} 
} 
@media screen and (max-height: 517px) { 
.comment-bottom p {height: 170px;} 
}
.comment-more-btn {
	bottom: 10%;
	margin: auto;
	position: absolute;
}
.comment-more-btn a{
	padding: 6px 16px;
	border-radius:4px;
	color: #fff;
	background-color: #da7c66;
}
	left: 3%;
	position: absolute;
	overflow: auto;
    border: 0px;
}
/*content左边*/
.content-left{
	width:15%;
	height: 100%;
	border-right: 1px #D4D4D4 solid;
	background-color:#F5F5F5; 
	float: left;
      
}
.introduction{
	height: 200px;
	border-bottom: 1px #D4D4D4 solid;
	border-top: 1px #D4D4D4 solid;
	background-color: #F5F5F5;
}
.introduction img{
	margin:auto;
	margin-top: 25px;
	border-radius:50%;
}
#name{
	color: #67B9FF;
	text-align: center;
}
.list{	
	padding-top: 6px;
    text-align:center;
}
.list ul{
	width: 80%;
	display: block;
	margin: 0 auto;
}
.list ul:last-child{
	margin-top: 15px;
	font-size: 12px;
	width: 80%;
	display: block;
	margin: 0 auto;
}
.list ul li{
	float: left;
	width: 25%;
	text-align: center;
}
.list a{
	color: #5eb3ef;
	font-size:12px;
}
.list p{
	color: #666;
	font-size: 12px;
	margin-top: 2px;
	margin-left: 18px;
	margin-right: 18px;
	float: left;
}
.function{	
    bottom: 0;
    background-color: #F5F5F5;
}
.function p{
	text-align: center;
}
.function-top{
	font-size: 0.8em;
	line-height: 200%;
	padding: 2% 7%;
}
.function p:first-child{
	text-align: justify;
}
#distance{
	padding-top: 30px;
}
.function a{
	color: #da7c66;
	line-height:30px;
	font-size:12px;
	border:1px solid;
	border-radius:9px;
	padding:2px 12px;
	border-color: #dcdcdc;
}
.function .optioned {
	background-color: #da7c66;
	color: #fff;
	border:none;
}
.function p:first-child a:hover{
	background-color: #da7c66;
	color: #fff;
	border:none;
}
.function a:hover{
	background-color: #da7c66;
	color: #fff;
	border:none;
}

/*content右边*/
/*canvas里面 content样式里的首页简书样式*/
.content-right {
	width: 85%;
	height: 97%;
	overflow:auto;
 	clear:both;
    padding-left: 0px;
    display: inline;
 	position: absolute;    
    top: 10px;
}
/*右边上部面包屑*/
.content-right-top{
	width: 100%;
	height: 7%;
	/*border: 1px solid green;*/
	/*background-color: #FAFAFA;*/
}
.content-right-top ol{
	left: 15%;
	width: 100%;
	margin-top: 0.6%;
	z-index: 300;
	position: fixed;
	color: #666;
	font-size: 0.9em;
	margin-left: 5%;
}
.content-right-top ol li{
	float: left;
}
.content-right-top ol a:hover{
	text-decoration: none;
	font-weight: bold;
}
/*右边下部他的所有书评*/
.content-right-bottom{
	height: 93%;
    width: 100%;
    overflow:auto;
    clear:both; 
    /*border: 1px solid blue;*/
    position: absolute;
}
.content-book-comments{
	height: 100%;
	width: 100%;
	overflow:hidden;     
}
.mCSB_horizontal > .mCSB_container{
	margin-bottom: 0;
	height: 100%;
}
.content-book-comment1{
	width:5%;
	height: 90%;
	/*position: relative;*/
	background-color: #f7f7f7;
	border: 1px solid #dbdce0;
	padding: 0.1% 0.1% 0.1% 0.1%;
	margin: 0.35% 0.9% 0.4% 0.9%;
	float: left;
	display: block;
}
/*.content-book-comment1:first-child {
	margin-left:1%;
}*/
/*.content-book-comment1:last-child {
	margin-right:1%;
}*/
.book-comment1 .comment-more-btn {
    padding-left: 1.2%;
}
.book-comment2 .comment-more-btn {
     padding-left: 1.2%;
}
.book-comment3 .comment-more-btn {
     padding-left: 1.2%;
}
.book-comment4 .comment-more-btn {
     padding-left: 1.2%;
}
.book-comment5 .comment-more-btn {
     padding-left: 1.2%;
}
.book-comment6 .comment-more-btn {
     padding-left: 1.2%;
}
.comment-top {
	height: 25%;
	width: 100%;
	border-bottom: 1px solid #dbdce0;
	padding: 2% 2% 0 5%;
}
.row1{
	width: 100%;
	height: 50%;
}
.row2{
	width: 100%;
	height: 50%;
}
.comment-photo {
	border-radius:50%;
	margin: 2% 2%;
	display: block;
	float: left;
}
.comment-msg1 {
	float: left;
	margin-left:8%;
}
.comment-msg1 li{
	color: #999;
	font-size: 0.9em;
}
.comment-msg1 li:first-child {
	margin-bottom:8%;
}
.comment-msg1 span{
}
.comment-msg2 {
	margin-top: 1%;
	display: block;
	font-size: 0.9em;
}
.comment-msg2 li:first-child {
	margin-bottom: 5%;
	color: #999;
}
.comment-msg2 li:first-child a {
	color: #999;
}
.comment-msg2 li:last-child {
	color: #da7c66;
}
.comment-bottom {
	height: 75%;
	width: 100%;
	padding: 3% 5% 0 5%;
}
.comment-bottom h3 {
	font-size: 1.5em;
	text-align: center;
	color: #da7c66;
	height: 10%;
}
.comment-bottom p {
	line-height: 200%;
	color: #666;
	text-overflow:ellipsis;
	/*white-space:nowrap;*/
	width:100%;
	overflow: hidden;
	text-overflow:ellipsis;
/*display:-webkit-box;
-webkit-line-clamp:3;
-webkit-box-orient:vertical;*/
}
@media screen and (min-height: 769px) { 
.comment-bottom p {height: 320px} 
}  
@media screen and (max-height: 768px) { 
.comment-bottom p {height: 310px} 
}  
@media screen and (max-height: 640px) { 
.comment-bottom p {height: 220px} 
}
@media screen and (max-height: 614px) { 
.comment-bottom p {height: 230px;} 
} 
@media screen and (max-height: 517px) { 
.comment-bottom p {height: 170px;} 
}
.comment-more-btn {
	bottom: 10%;
	margin: auto;
	position: absolute;
}
.comment-more-btn a{
	padding: 6px 16px;
	border-radius:4px;
	color: #fff;
	background-color: #da7c66;
}