#nav {
	z-index: 100;
}
#content {
	width:97%;
	left: 3%;
	position: absolute;
	border:none;
}
.content-right {
	width: 100%;
	height: 100%;
}
.roler{
	width:15%;
	height: 100%;
	border-right: 1px #D4D4D4 solid;
	background-color:#F5F5F5; 
	float: left;
}
.introduction{
	height: 230px;
	border-bottom: 1px #D4D4D4 solid;
	border-top: 1px #D4D4D4 solid;
	background-color: #F5F5F5;
}
.introduction img{
	margin:auto;
	margin-top: 25px;
	border-radius:50%;
}
#name{
	color: #67B9FF;
	text-align: center;
}
.list{	
	padding-top: 6px;
    text-align:center;
}
.list ul{
	width: 80%;
	display: block;
	margin: 0 auto;
}
.list ul:last-child{
	margin-top: 15px;
	font-size: 12px;
	width: 80%;
	display: block;
	margin: 0 auto;
}
.list ul li{
	float: left;
	width: 25%;
	text-align: center;
}
.list a{
	color: #5eb3ef;
	font-size:12px;
}
.list p{
	color: #666;
	font-size: 12px;
	margin-top: 2px;
	margin-left: 18px;
	margin-right: 18px;
	float: left;
}
.function{	
    bottom: 0;
    background-color: #F5F5F5;
}
.function p{
	text-align: center;
}
#distance{
	padding-top: 30px;
}
.function a{
	color: #da7c66;
	line-height:30px;
	font-size:12px;
	border:1px solid;
	border-radius:9px;
	padding:2px 12px;
	border-color: #dcdcdc;
}
.function a:hover{
	background-color: #da7c66;
	color: #fff;
	border:none;
}
#click{
	color: #fff;
	background-color: #da7c66;
	border:none;
}
.main-title {
	border:none;
	right: 0;
	width: 80%;
	height: 60px;
	line-height: 60px;
	background-color:#fff;
	z-index: 300;
	position: fixed;
}
.main-title li {
	float: left;
}
.main{
	width:85%;
    overflow-y:auto;
	padding-top:5%;
	background-color:#fff;
	height:100%;
	float: left;
	position: relative;
}
.main p{
	color: #666;
	font-size: 14px;
    margin: 15px 3%;
}
.scale{
	width: 90%;
	height: 100px;
	border: 1px #eee solid;
	margin: 10px 5% 20px 5% ;
	padding: 20px 23px;
	background-color: #F5F5F5;
}
.scale-top ul li{
	float: left;
	margin-right: 20px;
}
.scale-top ul li:first-child {
	color: #da7c66;
}
.scale-top ul li:first-child a{
	color: #da7c66;
}
.scale-top ul li:last-child {
	color: #999;
}
.scale-top ul li:last-child a{
	color: #999;
}
.scale-top {
	height: 28px;
}
.scale-content {
margin-top: 5px;
}
.scale-content a {
	font-size: 20px;
	color: #666;
	display: block;
	text-align: left;
}
.scale-top .operation a{
	float: right;
	font-size: 12px;
	color: #666;
	padding: 3px 12px;
	border: 1px solid #666;
	border-radius: 9px;
	margin-left: 16px;
}
.scale:last-child {
	margin-bottom: 250px;
}