<body>
    <div id="container">
        <div id="canvas">
        	<div class="aside-nav toggle-nav">
                <a href="#"><i class="icon-align-justify icon-large"></i></a>
            </div>
            <!--aside-nav end（触发弹出侧栏）-->
            <header>
                <nav class="top-nav">
                    <a href="index.html"><img src="__PUBLIC__/front/images/logo.png" width="115" class="logo" height="37" alt="logo"/></a>
                    <label for="search"></label>
                    <input type="text" id="search" placeholder="输入标签、作者、关键字搜索"/>
                    <div class="header-right">
                       <a href="editarticle.html">写书评</a>
                        <div class="myphoto dropdown">
                            <div class=" dropdown-toggle"  id="dropdownMenu1" data-toggle="dropdown">
                                <img src="__PUBLIC__/front/images/myphoto.jpg" width="35" height="35" alt="我的头像" /> 
                                <span>mono</span>
                            </div>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="editmessage.html">账号设置</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="login.html">退出</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header><!--header end-->
            <!--侧导航内容 start-->
            <div id="nav">
                <div class="nav-child">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3"><a href="myBookReview_all.html"><img src="__PUBLIC__/front/images/myphoto.jpg" width="74" height="74" alt="我的头像" class="nav-photo" /></a><span class="nav-username">mono</span></div>
                    </div>
                    <div class="row nav-msg">
                        <div class="col-md-10 col-md-offset-1">
                            <ul>
                               <li><a href="myBookReview_all.html">文章</a></li>
                                <li><a href="myfans.html">粉丝</a></li>
                                <li><a href="myCollect.html">收藏</a></li>
                                <li><a href="myattention.html">关注</a></li>
                            </ul>
                            <br />
                            <ul>
                                <li>20</li>
                                <li>5</li>
                                <li>56</li>
                                <li>1</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            <div class="nav-write-btn">
                                <a href="editarticle.html">写书评</a>
                            </div>
                        </div>
                    </div>

                    <div class="row nav-menu">
                        <div class="col-md-12">
                            <ul class="pmVerticalRightOut" id="pmVerticalRightOut">
                                <li><a href="#">首页</a></li>
                                <li class="nav-book-classify"><a href="#" >书评分类</a>
                                    <ul class="nav-second-menu">
                                        <li><a href="tags.html">文学</a>
                                            <ul class="nav-third-menu">
                                                <a href="tags.html">文集</a>
                                                <a href="tags.html">纪实文学</a>
                                                <a href="#">文学理论</a>
                                                <a href="#">中国古诗词</a>
                                                <a href="#">戏剧</a>
                                                <a href="#">文集中国现当代诗歌</a>
                                                <a href="#">外国诗歌</a>
                                                <a href="#">民间文学</a>
                                                <a href="#">外国随笔</a>
                                                <a href="#">中国古代随笔</a>
                                            </ul>
                                        </li>
                                        <li><a href="tags.html">小说</a>
                                            <ul class="nav-third-menu">
                                                <a href="#">侦探、推理、悬疑</a>
                                                <a href="#">恐怖</a>
                                                <a href="#">科幻</a>
                                                <a href="#">青春</a>
                                                <a href="#">武侠</a>
                                                <a href="#">历史</a>
                                                <a href="#">军事战争</a>
                                                <a href="#">世界名著</a>
                                                <a href="#">中国古典</a>
                                                <a href="#">小说合集</a>
                                            </ul>
                                        </li>
                                        <li><a href="tags.html">传记</a>
                                            <ul class="nav-third-menu">
                                                <a href="tags.html">财经人物</a>
                                                <a href="tags.html">历代帝王</a>
                                                <a href="#">领袖首脑</a>
                                                <a href="#">军事人物</a>
                                                <a href="#">学者</a>
                                                <a href="#">政治任务</a>
                                                <a href="#">宗教人物</a>
                                                <a href="#">女性人物</a>
                                                <a href="#">娱乐明星</a>
                                                <a href="#">体育明星</a>
                                                <a href="#">科学家</a>

                                            </ul>
                                        </li>
                                        <li><a href="tags.html">社会科学</a>
                                            <ul class="nav-third-menu">
                                                <a href="tags.html">社会学</a>
                                                <a href="tags.html">语言文学</a>
                                                <a href="#">教育</a>
                                            </ul>
                                        </li>
                                        <li><a href="tags.html">家居休闲</a>
                                            <ul class="nav-third-menu">
                                                <a href="tags.html">饮食文化</a>
                                                <a href="tags.html">各式菜谱</a>
                                                <a href="#">主食菜谱</a>
                                                <a href="#">烘焙食品</a>
                                                <a href="#">风味小吃</a>
                                                <a href="#">美容与养生</a>
                                                <a href="#">药膳食疗</a>
                                                <a href="#">茶酒饮食</a>
                                                <a href="#">中华菜系</a>
                                                <a href="#">厨房秘籍</a>
                                                <a href="#">收纳</a>
                                                <a href="#">家具生活指南</a>
                                                <a href="#">饰品与装饰</a>

                                            </ul>
                                        </li>
                                        <li><a href="tags.html">励志与成功</a>
                                            <ul class="nav-third-menu">
                                                <a href="tags.html">心理学</a>
                                                <a href="tags.html">成功学</a>
                                                <a href="#">心灵读物</a>
                                                <a href="#">个人修养</a>
                                                <a href="#">个人形象</a>
                                                <a href="#">性格与习惯</a>
                                                <a href="#">思维与智商</a>
                                                <a href="#">人际与社交</a>
                                                <a href="#">演讲与口才</a>
                                                <a href="#">青少年励志</a>
                                                <a href="#">女性励志</a>
                                                <a href="#">男性励志</a>

                                            </ul>
                                        </li>
                                        <li><a href="tags.html">艺术与摄影</a>
                                            <ul class="nav-third-menu">
                                                <a href="tags.html">艺术理论与评论</a>
                                                <a href="tags.html">鉴赏收藏</a>
                                                <a href="#">设计</a>
                                                <a href="#">建筑</a>
                                                <a href="#">影视</a>
                                                <a href="#">动画</a>
                                                <a href="#">音乐</a>
                                                <a href="#">舞蹈</a>
                                                <a href="#">世界各国艺术概况</a>
                                            </ul>
                                        </li>
                                        <li><a href="tags.html">旅游与地图</a>
                                            <ul class="nav-third-menu">
                                                <a href="tags.html">旅游随笔</a>
                                                <a href="tags.html">国内游</a>
                                                <a href="#">旅游摄影</a>
                                                <a href="#">旅游常识</a>
                                                <a href="#">户外探险</a>
                                                <a href="#">地图</a>
                                            </ul>
                                        </li>
                                         <li><a href="tags.html">计算机与互联网</a>
                                             <ul class="nav-third-menu">
                                                 <a href="tags.html">计算机科学理论</a>
                                                 <a href="tags.html">数据库</a>
                                                 <a href="#">操作系统</a>
                                                 <a href="#">IT产业与文化</a>
                                                 <a href="#">考试与认证</a>
                                                 <a href="#">网络与通讯</a>
                                                 <a href="#">电子商务</a>
                                             </ul>
                                         </li>
                                        <li><a href="tags.html">历史</a>
                                            <ul class="nav-third-menu">
                                                <a href="tags.html">中国史</a>
                                                <a href="tags.html">世界总史</a>
                                                <a href="#">欧洲史</a>
                                                <a href="#">美洲史</a>
                                                <a href="#">亚洲史</a>
                                                <a href="#">非洲史</a>
                                                <a href="#">文化史</a>
                                                <a href="#">文物考古</a>
                                                <a href="#">史学理论</a>
                                                <a href="#">普及读物</a>
                                            </ul>
                                        </li>
                                        <li><a href="tags.html">其他</a></li>
                                    </ul>
                                </li>
                                <li><a href="author_trend.html">作家专栏</a></li>
                                <li><a href="recommendation.html">推荐书评</a></li>
                                <li><a href="hot search.html">图书热榜</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="nav-feedback-btn">
                            <a href="#" id="sugPost">意见反馈</a>
                        </div>
                    </div>

                </div>
            </div>
            <!--侧导航内容 end-->
            {__CONTENT__}


            

            <footer>
                <p>copyright@hebeinormal university</p>
            </footer>
        </div><!--canvas end-->
    </div><!--container end-->
    <script src="__PUBLIC__/front/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/front/js/custom.js"></script>    

    <script src="__PUBLIC__/front/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script>
        (function($){
            $(window).load(function(){           
                $(".content-right").mCustomScrollbar({
                    horizontalScroll:true,
                    scrollButtons:{
                        enable:true,     
                    },
                    theme:"dark-thin"
                });
            });
        })(jQuery);
    </script>
    <script type="text/javascript">
        if (navigator.appName=="Microsoft Internet Explorer") {
             function fPmVerticalRightOut() {
                 var getItem = document.getElementById("pmVerticalRightOut").getElementsByTagName("li");
                 for (var i=0; i<getItem.length; i++) {
                     getItem[i].onmouseover=function() { 
                         if(     this.className=="nav-second-menu"){
                             this.className="nav-second-menuIe";
                         }
                     }
                     getItem[i].onmouseout=function() { 
                         if(     this.className=="nav-second-menuIe"){
                             this.className="nav-second-menu";
                         }
                     }
                 }
             }
             window.onload=fPmVerticalRightOut;
        }
    </script>
</body>
</html>
