 <div id="dcMain">
   <!-- 当前位置 -->
<div id="urHere"><a href="index.html">畅评首页</a><b>></b><strong>编辑点赞</strong> </div>   <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
            <h3><a href="__MODULE__/Zan/pushpraise" class="actionBtn">点赞列表</a>编辑点赞</h3>
    <form action="pushpraise.html" method="post">
    <input type="hidden" name="pushpraiseid" value="{$pushpraise.pushpraiseid}" >
     <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
      <tr>
       <td width="80" align="center">用户ID</td>
       <td>
        <input type="text" name="cat_name" value="" size="40" class="inpMain" />
       </td>
      </tr>
      <tr>
       <td align="center">评论ID</td>
       <td>
        <input type="text" name="unique_id" value="" size="40" class="inpMain" />
       </td>
      </tr>
      <tr>
       <td align="center">点赞状态</td>
       <td>
        <select name="cat_id">
         <option value="0">未分类</option>
                  <option value="1">已点赞</option>           
                  <option value="2">取消点赞</option>             
          </select>
       </td>
      </tr>
      <tr>
       <td align="center">点赞时间</td>
       <td>
        <input type="text" name="sort" value="<?php echo date('Y-m-d H:i:s',time());?>" size="5" class="inpMain" />
       </td>
      </tr>
      <tr>
       <td></td>
       <td>
        <input type="hidden" name="token" value="25bfda40" />
        <input type="hidden" name="cat_id" value="" />
        <input name="submit" class="btn" type="submit" value="提交" />
       </td>
      </tr>
     </table>
    </form>
 </div>