 <div id="dcMain">
   <!-- 当前位置 -->
<div id="urHere"><a href="index.html">畅评首页</a><b>></b><strong>点赞管理</strong> </div>   <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
        <h3>点赞列表</h3>
    
        <div id="list">
    <form name="action" method="post" action="product.php?rec=action">
    <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
      <tr>
        <th width="22" align="center"><input name='chkall' type='checkbox' id='chkall' onclick='selectcheckbox(this.form)' value='check'></th>
        <th width="80" align="center">ID</th>
        <th align="center">用户ID</th>
         <th width="150" align="center">评论ID</th>
        <th width="200">点赞状态</th>
       <th width="300" align="center">点赞时间</th>
        <th width="100" align="center">操作</th>
      </tr>
      <tr>
        <td align="center"><input type="checkbox" name="checkbox[]" value="5" /></td>
        <td align="center">5</td>
        <td align="center">{$cat_name}</td>
        <td align="center">{$unique_id}</td>
         <td align="center">{$cat_id}</td>
        <td align="center">{$sort}</td>
        <td align="center">
         <a href="__MODULE__/Zan/editpushpraise/pushpraiseid/{$pushpraiseid}">编辑</a> | <a href="__MODULE__/Zan/pushpraise/pushpraiseid/{$pushpraiseid}">删除</a>
      </td>
      </tr>
    <tr>
        <td align="center"><input type="checkbox" name="checkbox[]" value="4" /></td>
        <td align="center">4</td>
        <td align="center">{$cat_name}</td>
        <td align="center">{$unique_id}</td>
         <td align="center">{$cat_id}</td>
         <td align="center">{$sort}</td>
        <td align="center">
        <a href="__MODULE__/Zan/editpushpraise/pushpraiseid/{$pushpraiseid}">编辑</a> | <a href="__MODULE__/Zan/pushpraise/pushpraiseid/{$pushpraiseid}">删除</a>
      </td>
      </tr>
     <tr>
        <td align="center"><input type="checkbox" name="checkbox[]" value="3" /></td>
        <td align="center">3</td>
        <td align="center">{$cat_name}</td>
        <td align="center">{$unique_id}</td>
         <td align="center">{$cat_id}</td>
        <td align="center">{$sort}</td>
        <td align="center">
        <a href="__MODULE__/Zan/editpushpraise/pushpraiseid/{$pushpraiseid}">编辑</a> | <a href="__MODULE__/Zan/pushpraise/pushpraiseid/{$pushpraiseid}">删除</a>
      </td>
      </tr>
     <tr>
        <td align="center"><input type="checkbox" name="checkbox[]" value="2" /></td>
        <td align="center">2</td>
        <td align="center">{$cat_name}</td>
        <td align="center">{$unique_id}</td>
         <td align="center">{$cat_id}</td>
         <td align="center">{$sort}</td>
        <td align="center">
        <a href="__MODULE__/Zan/editpushpraise/pushpraiseid/{$pushpraiseid}">编辑</a> | <a href="__MODULE__/Zan/pushpraise/pushpraiseid/{$pushpraiseid}">删除</a>
      </tr>
          
       <tr>
        <td align="center"><input type="checkbox" name="checkbox[]" value="1" /></td>
        <td align="center">1</td>
        <td align="center">{$cat_name}</td>
        <td align="center">{$unique_id}</td>
         <td align="center">{$cat_id}</td>
         <td align="center">{$sort}</td>
        <td align="center">
        <a href="__MODULE__/Zan/editpushpraise/pushpraiseid/{$pushpraiseid}">编辑</a> | <a href="__MODULE__/Zan/pushpraise/pushpraiseid/{$pushpraiseid}">删除</a>
      </td>
      </tr>
    </table>
    </form>
    </div>
