<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>畅想书评后台管理系统-用户列表</title>
<meta name="Copyright" content="Douco Design." />
<link href="__PUBLIC__/end/css/public.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__PUBLIC__/end/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/end/js/global.js"></script>
<script type="text/javascript" src="__PUBLIC__/end/js/jquery.tab.js"></script>
<script type="text/javascript" src="__PUBLIC__/end/js/jquery.autotextarea.js"></script>

</head>
<body>
<div id="dcWrap"> <div id="dcHead">
 <div id="head">
  <div class="logo"><a href="index.html"><img src="__PUBLIC__/end/images/1.png" alt="logo" height="30"></a></div>
  <div class="nav">
   <ul>畅享书评后台管理系统
   </ul>
   <ul class="navRight">
    <li class="noRight"><a href="#">您好，admin</a>
     
    </li>
   <li class="noRight"><a href="login.html">退出</a></li>
   </ul>
  </div>
 </div>
</div>
<!-- dcHead 结束 --> 
<div id="dcLeft"><div id="menu">
 <ul class="top">
  <li><a href="__MODULE__/Index/index"><i class="home"></i><em>首页</em></a></li>
 </ul>

<ul>
  <li><a href="__MODULE__/Admin/manager"><i class="manager"></i><em>管理员管理</em></a></li>
 </ul>


 <ul>
  <li><a href="__MODULE__/User/lists"><i class="user"></i><em>用户列表</em></a></li>
  <li><a href="__MODULE__/User/adduser"><i class="page"></i><em>添加用户</em></a></li>
 </ul>
 <ul>
  <li><a href="__MODULE__/Author/lists"><i class="user"></i><em>作家列表</em></a></li>
  <li><a href="__MODULE__/Author/add"><i class="page"></i><em>添加作家</em></a></li>
 </ul>
 <ul>
  <li><a href="__MODULE__/Books/lists"><i class="product"></i><em>图书列表</em></a></li>
  <li><a href="__MODULE__/Books/addbook"><i class="articleCat"></i><em>添加图书</em></a></li>
 </ul>
 <ul>
  <li><a href="bookview.html"><i class="productCat"></i><em>书评列表</em></a></li>
  <li><a href="addbookview.html"><i class="guestbook"></i><em>添加书评</em></a></li>
 </ul>
 <ul>
  <li><a href="__MODULE__/Tag/tag"><i class="menuPage"></i><em>图书标签</em></a></li>
  <li><a href="__MODULE__/BookCommentTag/lists"><i class="nav"></i><em>书评标签</em></a></li>
 </ul>

<ul>
  <li><a href="__MODULE__/BookComment/bookview"><i class="order"></i><em>评论管理</em></a></li>
 </ul>
 <ul>
   <li><a href="__MODULE__/Like/likebookview"><i class="theme"></i><em>喜欢</em></a></li>
 </ul>
<ul>
  <li><a href="collect.html"><i class="plugin"></i><em>收藏管理</em></a></li>
 </ul>
 <ul>
  <li><a href="__MODULE__/Letter/letter"><i class="caseCat"></i><em>私信管理</em></a></li>
 </ul>
 <ul>
  <li><a href="__MODULE__/Zan/lists"><i class="show"></i><em>点赞管理</em></a></li>
 </ul>
 <ul>
  <li><a href="__MODULE__/Attention/payattention"><i class="pse"></i><em>粉丝管理</em></a></li>
 </ul>
  
</div></div>

{__CONTENT__}


 <div class="clear"></div>
<div id="dcFooter">
 <div id="footer">
  <div class="line"></div>
  <ul>
    畅所欲言，享你所想  |  畅想书评网站后台管理系统
  </ul>
 </div>
</div><!-- dcFooter 结束 -->
<div class="clear"></div> </div>
</body>
</html>