<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>畅享书评后台管理系统-编辑粉丝</title>
<body>

 <div id="dcMain">
   <!-- 当前位置 -->
<div id="urHere"><a href="index.html">畅评首页</a><b>></b><strong>编辑粉丝</strong> </div>
  <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
   <h3><a href="__MODULE__/Attention/payattention" class="actionBtn">粉丝列表</a>编辑粉丝</h3>
    <form action="" method="post" enctype="multipart/form-data">
    <input type="hidden" name="connectionid" value="{$fans.connectionid}">

     <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
      <tr>
       <td width="80" align="center">用户名</td>
       <td>
        <input type="text" name="userid" value="{$fans.userid}" size="40" class="inpMain" />
       </td>
      </tr>
      <tr>
       <td align="center">粉丝名</td>
       <td>
        <input type="text" name="fanid" value="{$fans.fanid}" size="40" class="inpMain" />
       </td>
      </tr>
      <tr>
       <td align="center">关注时间</td>
       <td>
        <input type="text" name="attentiontime" value="{$fans.attentiontime}" size="5" class="inpMain" />
       </td>
      </tr>
      <tr>
       <td></td>
       <td>
        <input name="submit" class="btn" type="submit" value="提交" />
       </td>
      </tr>
     </table>
    </form>
 </div>

</body>
</html>
