<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>畅享书评后台管理系统-我的关注</title>
<meta name="Copyright" content="Douco Design." />
<link href="css/public.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/global.js"></script>
<script type="text/javascript" src="js/jquery.autotextarea.js"></script>
</head>

 <div id="dcMain">
   <!-- 当前位置 -->
<div id="urHere"><a href="index.html">畅评首页</a><b>></b><strong>我的关注</strong> </div>   <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
        <h3><a href="addpayattention.html?rec=add" class="actionBtn add">添加关注</a>我的关注列表</h3>
    
        <div id="list">
    <form name="action" method="post" action="product.php?rec=action">
    <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
      <tr>
        <th width="22" align="center"><input name='chkall' type='checkbox' id='chkall' onclick='selectcheckbox(this.form)' value='check'></th>
        <th width="40" align="center">ID</th>
        <th align="center">用户ID</th>
         <th width="100" align="center">关注ID</th>
        <th width="250">关注状态</th>
       <th width="300" align="center">关注时间</th>
        <th width="150" align="center">操作</th>
      </tr>
      <tr>
        <td align="center"><input type="checkbox" name="checkbox[]" value="5" /></td>
        <td align="center">5</td>
        <td align="center">5</td>
        <td align="center">5</td>
         <td align="center">已关注</td>
        <td align="center">2013-06-26 17:34:12</td>
        <td align="center">
        <a href="editpayattention.html">编辑</a> | <a href="#">删除</a>
      </td>
      </tr>
    <tr>
        <td align="center"><input type="checkbox" name="checkbox[]" value="4" /></td>
        <td align="center">4</td>
        <td align="center">4</td>
        <td align="center">4</td>
         <td align="center">已关注</td>
         <td align="center">2013-06-26 17:34:12</td>
        <td align="center">
        <a href="editpayattention.html">编辑</a> | <a href="#">删除</a>
      </td>
      </tr>
     <tr>
        <td align="center"><input type="checkbox" name="checkbox[]" value="3" /></td>
        <td align="center">3</td>
        <td align="center">3</td>
        <td align="center">3</td>
         <td align="center">已关注</td>
        <td align="center">2013-06-26 17:34:12</td>
        <td align="center">
        <a href="editpayattention.html">编辑</a> | <a href="#">删除</a>
      </td>
      </tr>
     <tr>
        <td align="center"><input type="checkbox" name="checkbox[]" value="2" /></td>
        <td align="center">2</td>
        <td align="center">2</td>
        <td align="center">2</td>
         <td align="center">取消关注</td>
         <td align="center">2013-06-26 17:34:12</td>
        <td align="center">
        <a href="editpayattention.html">编辑</a> | <a href="#">删除</a>
      </tr>
          
       <tr>
        <td align="center"><input type="checkbox" name="checkbox[]" value="1" /></td>
        <td align="center">1</td>
        <td align="center">1</td>
        <td align="center">1</td>
         <td align="center">已关注</td>
         <td align="center">2013-06-26 17:34:12</td>
        <td align="center">
        <a href="editpayattention.html">编辑</a> | <a href="#">删除</a>
      </td>
      </tr>
    </table>
    </form>
    </div>
    <div class="clear"></div>
    <div class="pager">总计 5 个记录，共 1 页，当前第 1 页 | <a href="payattention.html">第一页</a> 上一页 下一页 <a href="payattention.html">最末页</a></div>               </div>
 </div>
 <div class="clear"></div>
<div id="dcFooter">
 <div id="footer">
  <div class="line"></div>
  <ul>
    畅所欲言，享你所想  |  畅想书评网站后台管理系统
  </ul>
 </div>
</div><!-- dcFooter 结束 -->
<div class="clear"></div> </div>
</body>
</html>
