<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>畅享书评后台管理系统-粉丝管理</title>
</head>
<form action="__MODULE__/Attention/delete" >
 <div id="dcMain">
   <!-- 当前位置 -->
<div id="urHere"><a href="index.html">畅评首页</a><b>></b><strong>粉丝管理</strong> </div>   <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
        <h3><a href="addpayattention" class="actionBtn add">添加粉丝</a>粉丝列表</h3>
    
        <div id="list">
    <form name="action" method="post" action="">
    <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
      <tr>
          <th width="22" align="center"><input name='chkall' type='checkbox' id='chkall' onclick='selectcheckbox(this.form)' value='check'></th>
          <th align="center">ID</th>
          <th align="center">用户名</th>
          <th align="center">粉丝名</th>
          <th  align="center">关注时间</th>
          <th align="center">操作</th>
      </tr>


      <volist name="fanlist" id="f">
            <tr>
                <td align="center"><input type="checkbox" name="fansId[]" value="{$f.connectionid}" /></td>
                <td align="center">{$f.connectionid}</td>
                <td align="center"><a href="product.php?rec=edit&id=15">{$f.userid}</a></td>
                <td align="center"><a href="product.php?cat_id=3">{$f.fanid}</a></td>
             <!--    <td style="font-size:14px">{$b.bookcontent|mb_substr=0,66,'utf-8'}</td> -->
                <td align="center">{$f.attentiontime}</td>
                <td align="center">
                 <a href="__MODULE__/Attention/editpayattention/fansId/{$f.connectionid}">编辑</a> | <a href="__MODULE__/Attention/delete/fansId/{$f.connectionid}">删除</a>
                </td>
          </tr>
        </volist>
  
    </table>
    </form>
    </div>
    <div class="clear"></div>
     <div class="input-group pull-left form">
        <button type="button" class="btn" style="background-color:#20B2AA;"> 批量删除</button>
    </div>

    <div class="pager"><!-- 总计 5 个记录，共 1 页，当前第 1 页 | <a href="payattention.html">第一页</a> 上一页 下一页 <a href="payattention.html">最末页</a> -->
    {$page}
    </div>               </div>
 </div>
</form>
</body>
</html>
