#mask{ 
	background-color:#ccc;
	opacity:0.5;
	filter: alpha(opacity=50); 
	position:absolute; 
	left:0;
	top:0;
	z-index:1000;
	}
#suggestion{ 
	position:fixed;
	z-index:1001;
	}
.suggestionCon{ 
	position:relative; 
	width:500px;
	height:270px;
	background:#fff center center no-repeat;
	border-top:4px #5EB2F0 solid;
	}
#sug h5{
	font: 14px bolder '微软雅黑';
	font-weight: bolder;
	padding-left: 12px;
    }
#sug{
	height: 26px;
	border-bottom: 1px #E4E4E4 solid;
    }
.alert-content{
	height: 195px;
	border-bottom: 1px #E4E4E4 solid;
	padding-top: 30px;
    }
#texta{
	position: relative;
	top: -5%;
	left: 6%;
    height: 150px;
    width: 440px;
    border:1px #D6D6D6 solid;
	}
.alert-footer{
	background-color: #D6D6D6;
	height: 35px;
}
#yes{
	background-color: #FD573C;
	color: #fff;
	border:1px #FD573C solid;
	padding: 3px 6px;
	border-radius:3px;
	position: relative;
	top: 20%;
	margin-left: 200px;
}
#no{
	color: #666;
	background-color: #fff;
	border:1px #666 solid;
	padding: 3px 6px;
	border-radius:3px;
	position: relative;
	top: 20%;
	margin-right: 0;
}





#collectB{ 
	position:fixed;
	z-index:1001;
	}
.collectCon{ 
	position:relative; 
	width:380px;
	height:400px;
	background:#fff center center no-repeat;
	border-top:4px #5EB2F0 solid;
	}
#collect h5{
	font: 14px bolder '微软雅黑';
	font-weight: bolder;
	padding-left: 12px;
    }
#collect{
	height: 26px;
	border-bottom: 1px #E4E4E4 solid;
    }
.alert-collect{
    margin-top: 15px;
    height: 180px;
    border-bottom: 1px #E4E4E4 solid;
}
.alert-collect p{
	text-align: center;
}
#colsuccess{
	font: 14px '微软雅黑';
}
.bookname{
	height: 130px;
	margin-left: 15px;
}
#warning{
	margin-top: 5px;
	color: #666;
	font-size: 12px;
}
#book{
	width: 200px;
}
#newbook{
	border: 1px #da7c66 solid;
	height: 30px;
	width: 350px;
	margin-top: 8px;
}
.alert-collect-footer{
    background-color: #D6D6D6;
	height: 35px;
}
.alert-collect-footer a{
	position: relative;
	left: -17%;
}