/*left 206  height 222  486; right 688 left margin 52 right 54  top margin 48 bottom 27*/
body a{
	outline-style: none;/*HH浏览器正常显示，去掉虚框*/
	bblr:expression(this.onFocus=this.blur());/*IE*/
}
.content-left{
	width:15%;
	height: 100%;
	border-right: 1px #D4D4D4 solid;
	background-color:#F5F5F5; 
	float: left;
}
.content-left-top{
	height: 200px;
	border-bottom: 1px #D4D4D4 solid;
	border-top: 1px #D4D4D4 solid;
	background-color: #F5F5F5;
}
.content-left-top img{
	margin:auto;
	margin-top: 25px;
	border-radius:50%;
}
#name{
	color: #67B9FF;
	text-align: center;
}
.content-left-top-msg{	
	padding-top: 6px;
    text-align:center;
}
.content-left-top-msg ul{
	width: 80%;
	display: block;
	margin: 0 auto;
}
.content-left-top-msg ul:last-child{
	margin-top: 15px;
	font-size: 12px;
	width: 80%;
	display: block;
	margin: 0 auto;
}
.content-left-top-msg ul li{
	float: left;
	width: 25%;
	text-align: center;
}
.content-left-top-msg a{
	color: #5eb3ef;
	font-size:12px;
}
.content-left-top-msg p{
	color: #666;
	font-size: 12px;
	margin-top: 2px;
	margin-left: 18px;
	margin-right: 18px;
	float: left;
}
.content-left-bottom{	
    bottom: 0;
    background-color: #F5F5F5;
}
.content-left-bottom p{
	text-align: center;
}
.function-top{
	font-size: 0.8em;
	line-height: 180%;
	padding: 2% 8%;
}
#btn-top{
	padding-top: 30px;
}
.content-left-bottom a{
	color: #da7c66;
	line-height:30px;
	font-size:12px;
	border:1px solid;
	border-radius:9px;
	padding:2px 12px;
	border-color: #dcdcdc;
}
.content-left-bottom a:hover{
	background-color: #da7c66;
	color: #fff;
	border:none;
}
#btn-bottom{
	color: #fff;
	background-color: #da7c66;
	border:none;
}
/*.content-left{
	width: 15%;
	height: 100%;
	overflow:hidden;
 	float: left;
 	background-color: #FAFAFA;
 	border: 1px solid #F0F0F0;
 	border-left: none;
}
.content-left-top{
	width: 100%;
	height: 36%;
	border-bottom: 1px solid #F0F0F0;
}
.content-left-top img{
	border-radius:50%;
	margin: 8% 35% 1% 35%;
}
.content-left-top span{
	height: 20%;
	margin: 10% 45% 1% 45%;
	color: #5eb3ef;
	font-size: 1em;
	text-align: center;
}
.content-left-top-msg{
	height: 40%;
	font-size: 0.9em;
	text-align: center;
	padding-top: 6px;
}
.content-left-top-msg ul{
	width: 80%;
	display: block;
	margin: 0 auto;
}
.content-left-top-msg ul:last-child{
	margin-top: 5%;
	width: 80%;
	display: block;
	margin: 0 auto;
}
.content-left-top-msg ul li{
	float: left;
	width: 25%;
	text-align: center;
}
.content-left-top-msg a{
	color: #5eb3ef;
	font-size:0.9em;
}

.content-left-bottom{
	width: 100%;
	height: 64%;
	font-size: 0.9em;
	margin-top: 15%;
	bottom: 0;
}
.content-left-bottom p{
	cursor: pointer;
	text-align: center;
}
.content-left-bottom a{
	color: #da7c66;
	line-height:30px;
	font-size:12px;
	border:1px solid;
	border-radius:9px;
	padding:2px 12px;
	border-color: #dcdcdc;
}
.content-left-bottom a:hover{
	background-color: #da7c66;
	color: #fff;
	border:none;
}*/
/*#btn-top{	
	padding-top: 5%;
}
#btn-bottom{
	margin: 5% 25%;
	color: #fff;
	background-color: #da7c66;
	border:none;
}*/
/*right*/
.content-right{
	width: 85%;
	height: 100%;
	/*border: 1px solid red;*/
	overflow:hidden;
 	float: left;
 	background-color: #fff;
 	overflow: hidden;
}
.content-right-top {
	border:none;
	right: 0;
	width: 80%;
	height: 60px;
	line-height: 60px;
	background-color:#fff;
	z-index: 300;
	position: fixed;
}
.content-right-top li {
	float: left;
}
/*.content-right-top{
	width: 100%;
	height: 10%;
	margin-left: 5%;
	margin-right: 6%;
	background-color: #fff;
}
.content-right-top ol{
	border:none;
	right: 0;
	width: 80%;
	margin-top: 1.2%;
	background-color:#fff;
	z-index: 300;
	position: fixed;
	color: #666;
	font-size: 1.1em;
}
.content-right-top ol li{
	float: left;
}
.content-right-top ol a:hover{
	text-decoration: none;
	font-weight: bold;
}*/
.content-right-bottom{
	width: 89.7%;
	height: 83%;
	margin-left: 5%;
	margin-right: 6%;
	margin-top: 88px;
	border: 1px solid #F0F0F0; 
	background-color: #FAFAFA;
	/*overflow: hidden;*/
}
.content-right-bottom p{
	color: #666;
	/*font-size: 14px;*/
    /*margin: 15px 3%;*/
}
.scale{
	width: 90%;
	padding: 0px 5%;
	padding-top: 20px;
}
.scale img{
	float: left;
	position: absolute;
	left: 22%;
	border-radius:50%;
}
.scale p{
	line-height: 200%;
	color: #fff;
	text-align: center;
	margin-top: 2%;
	width: 25%;
	position: relative;
    margin-left: 7%;
	background-color: #5eb3ef;
	border: 1px solid #5eb3ef;
	border-radius:1.2em;
}
.scale a{
    color: #fff;
    font-size: 1em;
}
.scale a:hover{
	text-decoration: none;
}
.scale1{
	width: 90%;
	padding: 0px 5%;
	padding-top: 20px;
}
.scale1 img{
	float: left;
	position: absolute;
	left:89%;
	border-radius:50%;
}
.scale1 p{
	line-height: 200%;
	color: #fff;
	text-align: center;
	margin-top: 2%;
	width: 25%;
    margin-left: 81%;
	background-color: #da7c66;
	border: 1px solid #da7c66;
	border-radius:1.2em;
	float: left;
}
.scale1 a{
    color: #fff;
    font-size: 1em;
}
.scale1 a:hover{
	text-decoration: none;
}
.scale2{
	clear: both;
	width: 80%;
	position: absolute;
	bottom: 10%;
	float: left;
	overflow: hidden;
}
.scale2 input{
    font-size: 1em;
    margin-left: 3%;
	padding-top: 0.6%;
	padding-bottom: 0.6%;
	border: 1px solid #da7c66;
	background-color: #fff;
	border-radius:0;
	color: #da7c66;
	width: 79%;
	text-align: center;
}
.scale2 img{
	position: absolute;
	left:82.5%;
	border-radius:50%;
	position: center;
	padding-top: 0.2%;
}
.scale2 a{
	float: left;
	color: #fff;
	text-align: center;
	width: 5.5%;
	padding-top: 0.6%;
	padding-bottom: 0.6%;
	background-color: #da7c66;
	border: 1px solid #da7c66;
	border-radius:0.3em;
	position: absolute;
	left: 86.5%;
	font-size: 1em;
}
.scale2 a:hover{
	text-decoration: none;
}
