/*left 206  height 222  486; right 688 left margin 52 right 54  top margin 48 bottom 27*/
body a{
	outline-style: none;/*HH浏览器正常显示，去掉虚框*/
	bblr:expression(this.onFocus=this.blur());/*IE*/
}
.content-left{
	width: 15%;
	height: 100%;
	/*border: 1 p x solid yellow;*/
	overflow:hidden;
 	float: left;
 	background-color: #FAFAFA;
 	border: 1px solid #F0F0F0;
 	border-left: none;
}
.content-left-top{
	width: 100%;
	height: 36%;
	/*border: 1 p x solid red;*/
	border-bottom: 1px solid #F0F0F0;
}
.content-left-top img{
	height: 40%;
	border-radius:50%;
	margin: 8% 35% 1% 31%;
}
.content-left-top span{
	height: 20%;
	margin: 10% 45% 1% 45%;
	color: #5eb3ef;
	font-size: 0.8em;
	text-align: center;
}
.content-left-top-msg{
	height: 40%;
	font-size: 0.9em;
	text-align: center;
	padding-top: 6px;
}
.content-left-top-msg ul{
	width: 80%;
	display: block;
	margin: 0 auto;
}
.content-left-top-msg ul:last-child{
	margin-top: 5%;
	width: 80%;
	display: block;
	margin: 0 auto;
}
.content-left-top-msg ul li{
	float: left;
	width: 25%;
	text-align: center;
}
.content-left-top-msg a{
	color: #5eb3ef;
	font-size:0.9em;
}

.content-left-bottom{
	width: 100%;
	height: 64%;
	/*border: 1px solid green;*/
	font-size: 0.9em;
	margin-top: 15%;
	bottom: 0;
    /*background-color: #F5F5F5;*/
}
.content-left-bottom p{
	cursor: pointer;
	text-align: center;
}
.content-left-bottom a{
	color: #da7c66;
	line-height:30px;
	font-size:12px;
	border:1px solid;
	border-radius:9px;
	padding:2px 12px;
	border-color: #dcdcdc;
}
.content-left-bottom a:hover{
	background-color: #da7c66;
	color: #fff;
	border:none;
}
#btn-top{	
	/*margin: 5% 25%;	*/
	padding-top: 5%;
}
#btn-bottom{
	margin: 5% 25%;
	color: #fff;
	background-color: #da7c66;
	border:none;
}
/*right*/
.content-right{
	width: 85%;
	height: 100%;
	/*border: 1px solid red;*/
	overflow:hidden;
 	float: left;
 	background-color: #fff;
}
.content-right-top{
	width: 100%;
	height: 10%;
	margin-left: 5%;
	margin-right: 6%;
	/*border: 1px solid green;*/
	background-color: #fff;
}
.content-right-top ol{
	/*color: #5eb3ef;*/
	border:none;
	right: 0;
	width: 80%;
	margin-top: 1.2%;
	background-color:#fff;
	z-index: 300;
	position: fixed;
	color: #666;
	font-size: 1.1em;
}
.content-right-top ol li{
	float: left;
}
.content-right-top ol a:hover{
	text-decoration: none;
	font-weight: bold;
}
.content-right-bottom{
	width: 90%;
	height: 83%;
	margin-left: 5%;
	margin-right: 6%;
	border: 1px solid #F0F0F0; 
	background-color: #FAFAFA;
}
.content-right-bottom p{
	color: #666;
	/*font-size: 14px;*/
    /*margin: 15px 3%;*/
}
.scale{
	width: 90%;
	padding: 0px 5%;
	padding-top: 20px;
}
.scale img{
	float: left;
	position: absolute;
	left: 22%;
	border-radius:50%;
}
.scale p{
	line-height: 200%;
	color: #fff;
	text-align: center;
	margin-top: 2%;
	width: 25%;
	position: relative;
    margin-left: 7%;
	background-color: #5eb3ef;
	border: 1px solid #5eb3ef;
	border-radius:1.2em;
}
.scale a{
    color: #fff;
    font-size: 1em;
}
.scale a:hover{
	text-decoration: none;
}
.scale1{
	width: 90%;
	padding: 0px 5%;
	padding-top: 20px;
}
.scale1 img{
	float: left;
	position: absolute;
	left:89%;
	border-radius:50%;
}
.scale1 p{
	line-height: 200%;
	color: #fff;
	text-align: center;
	margin-top: 2%;
	width: 25%;
    margin-left: 81%;
	background-color: #da7c66;
	border: 1px solid #da7c66;
	border-radius:1.2em;
	float: left;
}
.scale1 a{
    color: #fff;
    font-size: 1em;
}
.scale1 a:hover{
	text-decoration: none;
}
.scale2{
	clear: both;
	width: 90%;
	/*padding: 0px 5%;*/
	margin-top: 25%;
	/*margin-bottom: 0.2%;*/
	float: left;
}
.scale2 input{
    font-size: 1em;
    margin-left: 3%;
	padding: 0.8% 3%;
	border: 1px solid #da7c66;
	background-color: #fff;
	border-radius:0;
	color: #da7c66;
	width: 91.5%;
	text-align: center;
}
.scale2 img{
	position: absolute;
	left:84.5%;
	border-radius:50%;
	position: center;
}
.scale2 a{
	float: left;
	color: #fff;
	text-align: center;
	width: 5.5%;
	padding: 0.6% 0.9%;
	background-color: #da7c66;
	border: 1px solid #da7c66;
	border-radius:0.3em;
	position: absolute;
	left: 87.5%;
	font-size: 1em;
}
.scale2 a:hover{
	text-decoration: none;
}
