<div id="dcMain">
    <!-- 当前位置 -->
    <div id="urHere"><a href="__MODULE__/Index/index">畅评首页</a><b>></b><strong>用户列表</strong> </div>
    <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
        <h3><a href="__MODULE__/Author/add" class="actionBtn add">添加作家</a>作家列表</h3>

        <div id="list">
            <form name="action" method="post" action="">

                <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
                    <tr>
                        <th width="22" align="center"><input name='chkall' type='checkbox' id='chkall' onclick='selectcheckbox(this.form)' value='check'></th>
                        <th width="40" align="center">ID</th>
                        <th align="center">用户名</th>
                        <th align="center">密码</th>
                        <th  align="center">邮箱</th>
                        <th  align="center">身份证件照</th>
                        <th  align="center">个人简介</th>
                        <th  align="center">关注数</th>
                        <th  align="center">粉丝数</th>
                        <th  align="center">收藏数</th>
                        <th  align="center">文章数</th>
                        <th  align="center">头像</th>
                        <th width="80" align="center">操作</th>
                    </tr>
                    <volist name="author" id="vo">
                        <tr>
                            <td align="center"><input type="checkbox" name="id[]" value="{$vo.id}" class="checkbox" id="id[]" /></td>
                            <td align="center">{$vo.authorid}</td>
                            <td align="center"><a href="product.php?rec=edit&id=5">{$vo.username}</a></td>
                            <td align="center">{$vo.pass|mb_substr=0,13,'utf-8'}</td>
                            <td align="center">{$vo.email|mb_substr=0,15,'utf-8'}</td>
                            <td align="center">{$vo.idcard|mb_substr=0,10,'utf-8'}</td>
                            <td align="center">{$vo.introduction|mb_substr=0,10,'utf-8'}</td>
                            <td align="center">{$vo.attention}</td>
                            <td align="center">{$vo.fan}</td>
                            <td align="center">{$vo.collection}</td>
                            <td align="center">{$vo.bookreview}</td>
                            <td align="center">{$vo.authorimage|mb_substr=0,16,'utf-8'}</td>
                            <td align="center">
                                <a href="__MODULE__/Author/edit?id='{$vo['authorid']}'">编辑</a> | <a href="__MODULE__/Author/delete?id='{$vo['authorid']}'">删除</a>
                            </td>
                        </tr>
                    </volist>
                </table>
                <br/>
                <div class="input-group pull-left form">
                    <button type="button" class="btn" style="background-color:#20B2AA;">批量删除</button>
                </div>
                <!-- <div class="action"> -->
            </form>
        </div>
        <div class="clear"></div>

        <!--  <ul class="pagination pull-right" style="float:left;margin-left:960px;">
             {$page}
         </ul> -->

        <div class="pager"><!-- 总计 5 个记录，共 1 页，当前第 1 页 |  -->
            <!-- <a href="book.html">第一页</a> 上一页 下一页 <a href="book.html">最末页</a> -->
            {$page}
        </div>               </div>
</div>
</form>