@charset "utf-8";
/* CSS Document */
* {
	font-size:14px;
	font-family:Arial, "Microsoft YaHei", sans-serif;
	}
html,body {
	margin:0px; 
	height:100%; 
    }
body {
	background-color:rgb(252,252,252);
	border:0;
	padding:0;
	}
a {
	text-decoration:none;
	color:rgb(219,124,102);
	}
.aside-nav {
	width:34px;
	height:100%;
	background-color:#fff;
	border-right:1px solid #eee;
	float:left;
	text-align:center;
	}
.aside-nav img{
	margin-top:360px;
	}
header {
	height:44px;
	color:#fff;
	width:100%;
	background-color:rgb(94,178,240);
	}
.top-nav {
	margin:auto 50px;
	}
.logo {
	float:left;
	padding-top:2px;
	}
#search {
	border:none;
	background:none;
	padding-bottom:8px;
	border-bottom:1px solid #fff;
	width:200px;
	font-size:12px;
	float:left;
	color:#fff;
	margin-left:30%;
	margin-top:10px;
	}
.header-right {
	float:right;
	}	
.header-right a {
	height:20px;
	line-height:44px;
	font-size:12px;
	border:1px solid;
	border-radius:9px;
	padding:2px 12px;
	color:#fff;
	}
.myphoto {
	float:right;
	margin-left:25px;
	}
.myphoto img {
	 border-radius:50%;
	 margin-top:4px;
	 }
.myphoto span {
	font-size:12px;
	line-height:44px;
	float:right;
	margin-left:13px;
	height:13px;
	}
	
	
	
	
	
	
	
	
	
	
#content {
	
	}