<div id="dcMain">
  <!-- 当前位置 -->
  <div id="urHere">
    <a href="__MODULE__/Index/index">畅评首页</a>
    <b>></b><strong>查看书评标签</strong> 
  </div>   
  <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
    <h3><a href="__MODULE__/Tag/tag" class="actionBtn">书评标签列表</a>查看书评标签</h3>
    <form action="" method="post">
      <input type="hidden" name="tagid" value="{$tag.tagid}">

      <table border="0" cellpadding="8" cellspacing="0" class="tableBasic">
        <tr>
          <td align="center">书评标签</td>
          <td>
            <input type="text" name="tagname" value="{$tag.tagname}" size="40" class="inpMain" />
          </td>
        </tr> 
        <tr>
          <td align="center">用户名</td>
          <td>
            <input type="text" name="username" value="{$tag.username}" size="40" class="inpMain" />
          </td>
        </tr>      
        <tr>
          <td align="center">书评标签简介</td>
          <td>
            <input type="text" name="tagintroduction" value="{$tag.tagintroduction}" size="5" class="inpMain" />
          </td>
        </tr>
        <tr>
          <td align="center">添加书评标签时间</td>
          <td>
            <input type="text" name="tagtime" value="{$tag.tagtime}" size="5" class="inpMain" />
          </td>
        </tr>
      </table>
    </form>
  </div><!-- mainbox over -->
</div>