<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>完善个人信息</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="__PUBLIC__/front/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/front/css/font-awesome.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/front/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/front/css/headernav.css" />
    <link rel="stylesheet" href="__PUBLIC__/front/css/addmessage.css" />
    <link rel="stylesheet" href="__PUBLIC__/front/css/passwordchange-alert.css">


    <script src="__PUBLIC__/front/js/jquery.js"></script>
    <script src="__PUBLIC__/front/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/front/js/custom.js"></script>
    <script src="__PUBLIC__/front/js/passwordchange-alert.js"></script>

    <script type="text/javascript">
        if (navigator.appName=="Microsoft Internet Explorer") {
            function fPmVerticalRightOut() {
                var getItem = document.getElementById("pmVerticalRightOut").getElementsByTagName("li");
                for (var i=0; i<getItem.length; i++) {
                    getItem[i].onmouseover=function() {
                        if(     this.className=="nav-second-menu"){
                            this.className="nav-second-menuIe";
                        }
                    }
                    getItem[i].onmouseout=function() {
                        if(     this.className=="nav-second-menuIe"){
                            this.className="nav-second-menu";
                        }
                    }
                }
            }
            window.onload=fPmVerticalRightOut;
        }
    </script>
</head>

        <!--侧导航内容 end-->
        <!--content start-->
        <div id="content">
            <div class="content-left"></div>
            <div class="content-right">
                <div class="roler">
                    <div class="introduction">
                        <p style="text-align: center;"><a href="myBookReview_all.html"><img src="__PUBLIC__/front/images/myphoto.jpg" width="70" height="70" alt="用户头像"/></a></p>
                        <a href="#" id="name"><p>啊哈</p></a>
                        <div class="list">
                            <ul>
                                <li><a href="myBookReview_all.html">文章</a></li>
                                <li><a href="myfans.html">粉丝</a></li>
                                <li><a href="myBookReview_all.html">收藏</a></li>
                                <li><a href="myattention.html">关注</a></li>
                            </ul>
                            <ul>
                                <li>20</li>
                                <li>5</li>
                                <li>56</li>
                                <li>1</li>
                            </ul>
                        </div>
                    </div>
                    <div class="function">
                        <p class="function-top">作家，出版长篇小说《三重门》，创畅销纪录，并成 为一个优秀赛车手，是中国唯一一位拉力赛和场地赛 双料年度冠军。2010年被《时代周刊》评选为100名影响世界人物之一。其自编自导的处女座电影《后会无期》于2014年2月已开机.</p>
                        <p id="distance"><a href="relevant.html">与我相关</a></p>
                        <p><a href="drafts.html" >草稿箱</a></p>
                        <p><a href="editmessage.html">修改信息</a></p>
                        <p><a href="booklist.html">我的书单</a></p>
                    </div>
                </div>
                <ul class="main-title">
                    <li><a href="index.html">首页</a></li>
                    <li>&nbsp;/&nbsp;</li>
                    <li>完善个人信息</li>
                </ul>
                <div class="main">
                    <div class="scale">
                        <div class="operation">
                            <button type="submit" onclick="window.location.href='myBookReview_all.html'">保存</button>
                        </div>
                        <div class="scale-message">
                            <form class="form-horizontal writeform" role="form">
                                <div class="form-group">
                                    <label for="username" class="col-sm-4 col-md-3 control-label">用户名：</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="username" placeholder="请输入用户名">
                                    </div>
                                    <a href="#" id="changePassword" hidefocus="true">修改密码</a>
                                </div>
                                <div class="form-group">
                                    <label for="userdetails" class="col-sm-4 col-md-3 control-label">简介：</label>
                                    <div class="col-sm-6">
                                        <textarea class="form-control" rows="7" placeholder="你还没有填写简介呢~"></textarea>
                                    </div>
                                </div>
                            </form>
                            <div class="selectphoto">
                                <img src="__PUBLIC__/front/images/selectphoto.jpg" width="140" height="140" id="ImgPr" alt="默认头像" class="img-thumbnail">
                                <form role="form" class="selected-photo">
                                    <div class="form-group">
                                        <label for="exampleInputFile" class="sr-only"></label>
                                        <a class="chooseimg" href="#"><input type="file" id="exampleInputFile"></a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- content结束 -->
        <footer>
            <p>copyright@hebeinormal university</p>
        </footer>
    </div><!--canvas end-->
</div><!--container end-->
<script>
    $("#exampleInputFile").change(function() {
        var $file = $(this);
        var fileObj = $file[0];
        var windowURL = window.URL || window.webkitURL;
        var dataURL;
        var $img = $("#ImgPr");
        if(fileObj && fileObj.files && fileObj.files[0]){
            dataURL = windowURL.createObjectURL(fileObj.files[0]);
            $img.attr('src',dataURL);
        }else{
            dataURL = $file.val();
            var imgObj = document.getElementById("ImgPr");
            imgObj.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";
            imgObj.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = dataURL;

        }
    });
</script>

</body>
</html>



















 








