<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>完善个人信息</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="__PUBLIC__/front/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/front/css/font-awesome.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/front/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/front/css/headernav.css" />
    <link rel="stylesheet" href="__PUBLIC__/front/css/addmessage.css" />

    <script src="__PUBLIC__/front/js/jquery.js"></script>
    <script src="__PUBLIC__/front/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/front/js/custom.js"></script>
    
</head>

        <!--侧导航内容 end-->
        <!--content start-->
        <div id="content">
            <div class="content-left"></div>
            <div class="content-right">
                <div class="roler">
                    <div class="introduction">
                        <p style="text-align: center;"><a href="myBookReview_all.html"><img src="__PUBLIC__/front/images/myphoto.jpg" width="70" height="70" alt="用户头像"/></a></p>
                        <a href="#" id="name"><p>啊哈</p></a>
                        <div class="list">
                            <ul>
                                <li><a href="__MODULE__/Mine/myBookReview_all">文章</a></li>
                                <li><a href="__MODULE__/Mine/myfans">粉丝</a></li>
                                <li><a href="__MODULE__/Mine/myBookReview_all">收藏</a></li>
                                <li><a href="__MODULE__/Mine/myattention">关注</a></li>
                            </ul>
                            <ul>
                                <li>20</li>
                                <li>5</li>
                                <li>56</li>
                                <li>1</li>
                            </ul>
                        </div>
                    </div>
                    <div class="function">
                        <p class="function-top">作家，出版长篇小说《三重门》，创畅销纪录，并成 为一个优秀赛车手，是中国唯一一位拉力赛和场地赛 双料年度冠军。2010年被《时代周刊》评选为100名影响世界人物之一。其自编自导的处女座电影《后会无期》于2014年2月已开机.</p>
                        <p id="distance"><a href="__MODULE__/Mine/relevant">与我相关</a></p>
                        <p><a href="__MODULE__/Mine/drafts">草稿箱</a></p>
                        <p><a href="__MODULE__/Mine/editmessage/userId/{$user.id}">修改信息</a></p>
                        <p><a href="__MODULE__/Mine/mybookslists">我的书单</a></p>
                    </div>
                </div>
                <ul class="main-title">
                    <li><a href="__MODULE__/Index/index">首页</a></li>
                    <li>&nbsp;/&nbsp;</li>
                    <li>完善个人信息</li>
                </ul>
                <div class="main">
                <!-- <form method="post" action="__MODULE__/Mine/doAdd" enctype="multipart/form-data" class="bigfrom"> -->
                    <div class="scale">
                    <form method="post" action="__MODULE__/Mine/doAdd" enctype="multipart/form-data">
                        <div class="operation">
                            <button type="submit" onclick="window.location.href='myBookReview_all.html'">保存</button>
                        </div>
                        <div class="scale-message">
                            <div>
                            <!-- <form class="form-horizontal" role="form"> -->
                                <div class="form-group">
                                    <label for="username" class="col-sm-2 control-label" style="text-align:right;">用户名：</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="username" placeholder="请输入用户名" name="username">
                                    </div>
                                     <a id="modal-388228" href="__MODULE__/Mine/editmessage" role="button"  data-toggle="modal">修改信息</a><br/>
        
                                </div>
                                <!-- <p></p> -->
                                <div class="form-group">
                                    <label for="userdetails" class="col-sm-2 control-label" style="text-align:right;">简介：</label>
                                    <div class="col-sm-4">
                                        <textarea class="form-control" rows="9" placeholder="你还没有填写简介呢~" name="introduction"></textarea>
                                    </div>
                                </div>
                            <!-- </form> -->
                            </div>
                            <div class="selectphoto">
                                <img src="__PUBLIC__/front/images/selectphoto.jpg" width="140" height="140" id="ImgPr" alt="默认头像" class="img-thumbnail">
                                <form role="form" class="selected-photo">
                                    <div class="form-group">
                                        <label for="exampleInputFile" class="sr-only"></label>
                                        <a class="chooseimg" href="#"><input type="file" id="exampleInputFile"></a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </form>

                    </div><!-- scale结束 -->
                    <!-- </form> -->
                </div>
            </div>
        </div><!-- content结束 -->
        <footer>
            <p>copyright@hebeinormal university</p>
        </footer>
    </div><!--canvas end-->
</div><!--container end-->
</body>
</html>



















 








