<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>我的书单</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="__PUBLIC__/front/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/front/css/font-awesome.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/front/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/front/css/headernav.css" />
    <link rel="stylesheet" href="__PUBLIC__/front/css/booklist.css" />
    <link rel="stylesheet" href="__PUBLIC__/front/css/alert-feedback.css">
    <link rel="stylesheet" href="__PUBLIC__/front/css/alert-delete.css">
    <script src="__PUBLIC__/front/js/jquery.js"></script>
    <script src="__PUBLIC__/front/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/front/js/custom.js"></script>
    <script src="__PUBLIC__/front/js/alert-feedback.js"></script>

    <script type="text/javascript">
        if (navigator.appName=="Microsoft Internet Explorer") {
             function fPmVerticalRightOut() {
                 var getItem = document.getElementById("pmVerticalRightOut").getElementsByTagName("li");
                 for (var i=0; i<getItem.length; i++) {
                     getItem[i].onmouseover=function() { 
                         if(     this.className=="nav-second-menu"){
                             this.className="nav-second-menuIe";
                         }
                     }
                     getItem[i].onmouseout=function() { 
                         if(     this.className=="nav-second-menuIe"){
                             this.className="nav-second-menu";
                         }
                     }
                 }
             }
             window.onload=fPmVerticalRightOut;
        }
    </script>
</head>
           <!--侧导航内容 end-->
            <!--content start-->
            <div id="content">
                <div class="content-left"></div>
                <div class="content-right">
                <div class="roler">
                        <div class="introduction">
                            <p style="text-align: center;"><img src="__PUBLIC__/front/images/myphoto.jpg" width="70" height="70" alt="用户头像" onclick="window.location.href='__MODULE__/Mine/myBookReview_all'"
                            /></p>
                            <a href="#" id="name"><p>啊哈</p></a>
                            <div class="list">
                                <ul>
                                    <li><a href="__MODULE__/Mine/myBookReview_all">文章</a></li>
                                    <li><a href="__MODULE__/Other/fans">粉丝</a></li>
                                    <li><a href="__MODULE__/Mine/myCollect">收藏</a></li>
                                    <li><a href="__MODULE__/Other/attention">关注</a></li>
                                </ul>
                                <ul>
                                    <li>20</li>
                                    <li>5</li>
                                    <li>56</li>
                                    <li>1</li>
                                </ul>
                            </div>
                        </div>
                        <div class="function">
                        <p class="function-top">作家，出版长篇小说《三重门》，创畅销纪录，并成 为一个优秀赛车手，是中国唯一一位拉力赛和场地赛 双料年度冠军。2010年被《时代周刊》评选为100名影响世界人物之一。其自编自导的处女座电影《后会无期》于2014年2月已开机.</p>
                            <p id="distance"><a href="__MODULE__/Mine/relevant">与我相关</a></p>
                            <p><a href="__MODULE__/Mine/drafts">草稿箱</a></p>
                            <p><a href="__MODULE__/Mine/editmessage">修改信息</a></p>
                            <p><a href="__MODULE__/Mine/editbooklist/tagId/{$tags.tagid}" id="click">修改我的书单</a></p>
                        </div>
                </div>
                <p class="main-title">我的书单</p>
                <div class="main">
                    <!-- <div class="scale">
                        <div class="scale-left">
                            <a href="#">未加标签</a>
                        </div>
                        <div class="scale-right">
                        <a href="mybookslists.html">最热50本外国文学作品</a>
                        <img src="__PUBLIC__/front/images/close.png" alt="删除按钮" width="20" height="20" onclick="bookCollect()" />
                        </div>
                    </div> -->
                    <volist name="tags" id="t">
                        <div class="scale">
                            <div class="scale-left">
                                <a href="__MODULE__/Mine/mybookslists">{$t.tagname}</a>
                                <a href="__MODULE__/Mine/delete/tagId/{$t.tagid}"><img src="__PUBLIC__/front/images/close.png" alt="删除按钮" width="20" height="20" onclick="bookCollect()" /></a>
                            </div>
                            <div class="scale-right">
                            <a href="__MODULE__/Mine/mybookslists">{$t.tagintroduction}</a>
                            <a href="__MODULE__/Mine/delete/tagId/{$t.tagid}"><img src="__PUBLIC__/front/images/close.png" alt="删除按钮" width="20" height="20"  onclick="bookCollect()"/></a>
                            </div>
                        </div>
                    </volist>

                    

                   
                </div> <!--main结束-->
            </div>
        </div><!-- content结束 -->a

            <footer>
                <p>copyright@hebeinormal university</p>
            </footer>
        </div><!--canvas end-->
    </div><!--container end-->
</body>

<script type="text/javascript">
    var sWidth=document.body.scrollWidth;
    var sHeight=document.body.scrollHeight;

    //获取页面的可视区域高度和宽度
    var wHeight=document.documentElement.clientHeight;
    var wWidth=document.documentElement.clientWidth;
    function bookCollect(){

        var oMask=document.createElement("div");
        oMask.id="mask";
        oMask.style.height=sHeight+"px";
        oMask.style.width=sWidth+"px";
        document.body.appendChild(oMask);
        var cPass=document.createElement("div");
        cPass.id="collectB";
        cPass.innerHTML="<div class='collectCon'><div class='alert-collect'><p><img src='__PUBLIC__/front/images/？.png'</p><br/><p id='colsuccess'>确实要删除书签吗？</p></div><div class='alert-collect-footer' ><button id='y'> 确定</button><button  id='n'>取消</button></div>";
        document.body.appendChild(cPass);


//获取收藏框的宽和高
        var dHeight=cPass.offsetHeight;
        var dWidth=cPass.offsetWidth;
        //设置收藏框的left和top
        cPass.style.top=wHeight/2-dHeight/2+"px";
        cPass.style.left=wWidth/2-dWidth/2+"px";
//点击关闭按钮
        var oClose=document.getElementById("y");
        var oClose2=document.getElementById("n");

        //点击收藏框以外的区域也可以关闭登陆框
        oClose.onclick=function(){
            console.log(111111)
            sucess();
            return false;
        };
        oClose2.onclick=oMask.onclick=function(){
            document.body.removeChild(cPass);
            document.body.removeChild(oMask);
        };
        function  sucess(){
            console.log(33333)
            var pass=document.getElementById("collectB");
            var Mask=document.getElementById("mask");
            document.body.removeChild(pass);
            document.body.removeChild(Mask);

            console.log(4444)

            var oMask2=document.createElement("div");
            oMask2.id="mask1";
            oMask2.style.height=sHeight+"px";
            oMask2.style.width=sWidth+"px";
            document.body.appendChild(oMask2);

            var Pass=document.createElement("div");
            Pass.id="collectc";
            Pass.innerHTML="<div  id='yes1' >  <div class='alert-collect1'><p><img  src='__PUBLIC__/front/images/success.png'></p><br/><p id='colsuccess1'>文章删除成功\(^o^)/</p></div><div class='alert-collect-footer1'><button id='yes2'>确定</button></div></div>";

            document.body.appendChild(Pass);
            var dHeight=Pass.offsetHeight;
            var dWidth=Pass.offsetWidth;
            //设置收藏框的left和top
            Pass.style.top=wHeight/2-dHeight/2+"px";
            Pass.style.left=wWidth/2-dWidth/2+"px";
//点击关闭按钮
            var Close=document.getElementById("yes1");


            //点击收藏框以外的区域也可以关闭登陆框
            Close.onclick=function(){
                document.body.removeChild(Pass);

            };
            console.log(4555)
        };


    };
</script>



</html>







