<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>草稿箱</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="__PUBLIC__/front/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/front/css/font-awesome.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/front/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/front/css/headernav.css" />
    <link rel="stylesheet" href="__PUBLIC__/front/css/drafts.css" />
    <link rel="stylesheet" href="__PUBLIC__/front/css/alert-feedback.css">


    <script src="__PUBLIC__/front/js/jquery.js"></script>
    <script src="__PUBLIC__/front/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/front/js/custom.js"></script>
    <script src="__PUBLIC__/front/js/alert-feedback.js"></script>

    <script type="text/javascript">
        if (navigator.appName=="Microsoft Internet Explorer") {
             function fPmVerticalRightOut() {
                 var getItem = document.getElementById("pmVerticalRightOut").getElementsByTagName("li");
                 for (var i=0; i<getItem.length; i++) {
                     getItem[i].onmouseover=function() { 
                         if(     this.className=="nav-second-menu"){
                             this.className="nav-second-menuIe";
                         }
                     }
                     getItem[i].onmouseout=function() { 
                         if(     this.className=="nav-second-menuIe"){
                             this.className="nav-second-menu";
                         }
                     }
                 }
             }
             window.onload=fPmVerticalRightOut;
        }
    </script>
</head>
           <!--侧导航内容 end-->
            <!--content start-->
            <div id="content">
                <div class="content-left"></div>
                <div class="content-right">
                    <div class="roler">
                        <div class="introduction">
                            <p style="text-align: center;"><img src="__PUBLIC__/front/images/myphoto.jpg" width="70" height="70" onclick="window.location.href='__MODULE__/Mine/myBookReview_all'"
                                                                alt="用户头像"/></p>
                            <a href="#" id="name"><p>啊哈</p></a>
                            <div class="list">
                                <ul>
                                    <li><a href="__MODULE__/Mine/myBookReview_all">文章</a></li>
                                    <li><a href="__MODULE__/Other/fans">粉丝</a></li>
                                    <li><a href="__MODULE__/Mine/myCollect">收藏</a></li>
                                    <li><a href="__MODULE__/Other/attention">关注</a></li>
                                </ul>
                                <ul>
                                    <li>20</li>
                                    <li>5</li>
                                    <li>56</li>
                                    <li>1</li>
                                </ul>
                            </div>
                        </div>
                        <div class="function">
                        <p class="function-top">作家，出版长篇小说《三重门》，创畅销纪录，并成 为一个优秀赛车手，是中国唯一一位拉力赛和场地赛 双料年度冠军。2010年被《时代周刊》评选为100名影响世界人物之一。其自编自导的处女座电影《后会无期》于2014年2月已开机.</p>
                            <p id="distance"><a href="__MODULE__/Mine/relevant">与我相关</a></p>
                            <p><a href="__MODULE__/Mine/drafts" id="click">草稿箱</a></p>
                            <p><a href="__MODULE__/Mine/editmessage">修改信息</a></p>
                            <p><a href="__MODULE__/Mine/mybookslists">我的书单</a></p>
                        </div>
                    </div> 
                    <ul class="main-title">
                        <li><a href="__MODULE__/Index/index">首页</a></li>
                        <li>&nbsp;/&nbsp;</li>
                        <li>草稿箱</li>
                    </ul> 
                    <div class="main">
                        <!-- <div class="scale">
                            <div class="scale-top">
                                <ul>
                                    <li>评论图书：<a href="tagbook.html">《漫长的中场休息》</a></li>
                                    <li>作者：<a href="#">本·方登</a></li>
                                </ul>   
                                <div class="operation">
                                    <a href="#">删除</a>
                                    <a href="editarticle.html">编辑</a>
                                </div>
                            </div>
                            <div class="scale-content"><a href="bookreviewcontent.html">"最孤独的魂外天游"</a></div>
                        </div> -->
                        <volist name="bookreview" id="br">
                            <div class="scale">
                                <div class="scale-top">
                                    <ul>
                                        <li>评论图书：<a href="tagbook.html">《{$br.bookname}》</a></li>
                                        <li>作者：<a href="#">{$br.bookauthor}</a></li>
                                    </ul>   
                                    <div class="operation">
                                        <a href="#">删除</a>
                                        <a href="editarticle.html">编辑</a>
                                    </div>
                                </div>
                                <div class="scale-content"><a href="bookreviewcontent.html">"{$br.title}"</a></div>
                            </div>
                        </volist>
                     
                        <!-- 分页 -->
                    </div>
                </div>
            </div><!-- content结束 --> 
            <footer>
                <p>copyright@hebeinormal university</p>
            </footer>
        </div><!--canvas end-->
    </div><!--container end-->
</body>
</html>
