<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>修改个人信息</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/headernav.css" />
    <link rel="stylesheet" href="css/addmessage.css" />
    <link rel="stylesheet" href="css/passwordchange-alert.css">


    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/passwordchange-alert.js"></script>

    <script type="text/javascript">
        if (navigator.appName=="Microsoft Internet Explorer") {
             function fPmVerticalRightOut() {
                 var getItem = document.getElementById("pmVerticalRightOut").getElementsByTagName("li");
                 for (var i=0; i<getItem.length; i++) {
                     getItem[i].onmouseover=function() { 
                         if(     this.className=="nav-second-menu"){
                             this.className="nav-second-menuIe";
                         }
                     }
                     getItem[i].onmouseout=function() { 
                         if(     this.className=="nav-second-menuIe"){
                             this.className="nav-second-menu";
                         }
                     }
                 }
             }
             window.onload=fPmVerticalRightOut;
        }
    </script>
</head>
<body>
    <div id="container">
        <div id="canvas">
            <div class="aside-nav toggle-nav">
                <a href="#"><i class="icon-align-justify icon-large"></i></a>
            </div>
            <!--aside-nav end（触发弹出侧栏）-->
            <header>
                <nav class="top-nav">
                    <a href="index.html"><img src="images/logo.png" width="115" class="logo" height="37" alt="logo" /></a>
                    <label for="search"></label>
                    <input type="text" id="search" placeholder="输入标签、作者、关键字搜索"/>
                    <div class="header-right">
                        <a href="editarticle.html">写书评</a>
                        <div class="myphoto dropdown">
                            <div class=" dropdown-toggle"  id="dropdownMenu1" data-toggle="dropdown">
                                <img src="images/myphoto.jpg" width="35" height="35" alt="我的头像" /> 
                                <span>mono</span>
                            </div>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="editmessage.html">账号设置</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">退出</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header><!--header end-->
            <!--侧导航内容 start-->
            <div id="nav">
                <div class="nav-child">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3"><a href="myBookReview_all.html"><img src="images/myphoto.jpg" width="74" height="74" alt="我的头像" class="nav-photo" /></a><span class="nav-username">mono</span></div>
                    </div>
                    <div class="row nav-msg">
                        <div class="col-md-10 col-md-offset-1">
                            <ul>
                                <li><a href="myBookReview_all.html">文章</a></li>
                                <li><a href="myfans.html">粉丝</a></li>
                                <li><a href="myCollect.html">收藏</a></li>
                                <li><a href="myattention.html">关注</a></li>
                            </ul>
                            <br />
                            <ul>
                                <li>20</li>
                                <li>5</li>
                                <li>56</li>
                                <li>1</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            <div class="nav-write-btn">
                                <a href="editarticle.html">写书评</a>
                            </div>
                        </div>
                    </div>

                    <div class="row nav-menu">
                        <div class="col-md-12">
                            <ul class="pmVerticalRightOut" id="pmVerticalRightOut">
                                <li><a href="index.html">首页</a></li>
                                <li class="nav-book-classify"><a href="#" >书评分类</a>
                                    <ul class="nav-second-menu">
                                        <li><a href="tags.html">文学</a>
                                            <ul class="nav-third-menu">
                                                <a href="tags.html">文集</a>
                                                <a href="tags.html">纪实文学</a>
                                                <a href="tags.html">文学理论</a>
                                                <a href="tags.html">中国古诗词</a>
                                                <a href="tags.html">戏剧</a></li>
                                                <a href="tags.html">文集中国现当代诗歌</a>
                                                <a href="tags.html">外国诗歌</a>
                                                <a href="tags.html">民间文学</a>
                                                <a href="tags.html">外国随笔</a>
                                                <a href="tags.html">中国古代随笔</a>
                                            </ul>
                                        </li>
                                        <li><a href="tags.html">小说</a>
                                            <ul class="nav-third-menu">
                                                <a href="#">a</a>
                                                <a href="#">b</a>
                                                <a href="#">c</a>
                                                <a href="#">d</a>
                                                <a href="#">e</a>
                                                <a href="#">f</a>
                                                <a href="#">j</a>
                                                <a href="#">h</a>
                                                <a href="#">i</a>
                                                <a href="#">g</a>
                                            </ul>
                                        </li>
                                        <li><a href="tags.html">哲学</a></li>
                                        <li><a href="tags.html">社会科学</a></li>
                                        <li><a href="tags.html">文化</a></li>
                                        <li><a href="tags.html">教育</a></li>
                                        <li><a href="tags.html">艺术</a></li>
                                        <li><a href="tags.html">自然科学</a></li>
                                         <li><a href="tags.html">工业技术</a></li>
                                    </ul>
                                </li>
                                <li><a href="author_trend.html">作家专栏</a></li>
                                <li><a href="recommendation.html">推荐书评</a></li>
                                <li><a href="hot search.html">图书热榜</a></li>
                                <li><a href="recommendbooklists.html">推荐书单</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="nav-feedback-btn">
                            <a href="#" id="sugPost" hidefocus="true">意见反馈</a>
                        </div>
                    </div>

                </div>
            </div>
            <!--侧导航内容 end-->
            <!--content start-->
            <div id="content">
                <div class="content-left"></div>
                <div class="content-right">
                    <div class="roler">
                        <div class="introduction">
                            <p style="text-align: center;"><a href="myBookReview_all.html"><img src="images/myphoto.jpg" width="70" height="70" alt="用户头像"/></a></p>
                            <a href="#" id="name"><p>啊哈</p></a>
                            <div class="list">
                                <ul>
                                    <li><a href="myBookReview_all.html">文章</a></li>
                                    <li><a href="myfans.html">粉丝</a></li>
                                    <li><a href="myBookReview_all.html">收藏</a></li>
                                    <li><a href="myattention.html">关注</a></li>
                                </ul>
                                <ul>
                                    <li>20</li>
                                    <li>5</li>
                                    <li>56</li>
                                    <li>1</li>
                                </ul>
                            </div>
                        </div>
                        <div class="function">
                        <p class="function-top">作家，出版长篇小说《三重门》，创畅销纪录，并成 为一个优秀赛车手，是中国唯一一位拉力赛和场地赛 双料年度冠军。2010年被《时代周刊》评选为100名影响世界人物之一。其自编自导的处女座电影《后会无期》于2014年2月已开机.</p>
                            <p id="distance"><a href="relevant.html">与我相关</a></p>
                            <p><a href="drafts.html" >草稿箱</a></p>
                            <p><a href="" id="click">修改信息</a></p>
                            <p><a href="booklist.html">我的书单</a></p>
                        </div>
                    </div> 
                    <ul class="main-title">
                        <li><a href="index.html">首页</a></li>
                        <li>&nbsp;/&nbsp;</li>
                        <li>修改个人信息</li>
                    </ul> 
                    <div class="main">    
                        <div class="scale">
                            <div class="operation">
                                     <button type="submit" onclick="window.location.href='myBookReview_all.html'">保存</button>
                            </div>  
                            <div class="scale-message">
                                <form class="form-horizontal writeform" role="form">
                                    <div class="form-group">
                                        <label for="username" class="col-sm-4 col-md-3 control-label">用户名：</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="username" placeholder="请输入用户名">
                                        </div>
                                        <a href="#" id="changePassword" hidefocus="true">修改密码</a>
                                    </div>
                                    <div class="form-group">
                                        <label for="userdetails" class="col-sm-4 col-md-3 control-label">简介：</label>
                                        <div class="col-sm-6">
                                            <textarea class="form-control" rows="7" placeholder="你还没有填写简介呢~"></textarea>
                                        </div>
                                    </div>
                                </form>
                                <div class="selectphoto">
                                    <img src="images/selectphoto.jpg" width="140" height="140" id="ImgPr" alt="默认头像" class="img-thumbnail">
                                    <form role="form" class="selected-photo">
                                        <div class="form-group">
                                            <label for="exampleInputFile" class="sr-only"></label>
                                            <a class="chooseimg" href="#"><input type="file" id="exampleInputFile"></a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- content结束 --> 
            <footer>
                <p>copyright@hebeinormal university</p>
            </footer>
        </div><!--canvas end-->
    </div><!--container end-->
    <script>
 $("#exampleInputFile").change(function() {
        var $file = $(this);
        var fileObj = $file[0];
        var windowURL = window.URL || window.webkitURL;
        var dataURL;
        var $img = $("#ImgPr");
        if(fileObj && fileObj.files && fileObj.files[0]){
        dataURL = windowURL.createObjectURL(fileObj.files[0]);
        $img.attr('src',dataURL);
        }else{
        dataURL = $file.val();
        var imgObj = document.getElementById("ImgPr");
        imgObj.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";
        imgObj.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = dataURL;
          
        }
    });
</script>

</body>
</html>



















 








