<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>我的信息-我的粉丝</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="__PUBLIC__/front/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/front/css/font-awesome.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/front/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/front/css/headernav.css" />
    <link rel="stylesheet" href="__PUBLIC__/front/css/myfans.css">
    <link rel="stylesheet" href="__PUBLIC__/front/css/alert-feedback.css">


    <script src="__PUBLIC__/front/js/jquery.js"></script>
    <script src="__PUBLIC__/front/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/front/js/custom.js"></script>
    <script src="__PUBLIC__/front/js/alert-feedback.js"></script>

    <script type="text/javascript">
        if (navigator.appName=="Microsoft Internet Explorer") {
             function fPmVerticalRightOut() {
                 var getItem = document.getElementById("pmVerticalRightOut").getElementsByTagName("li");
                 for (var i=0; i<getItem.length; i++) {
                     getItem[i].onmouseover=function() { 
                         if(     this.className=="nav-second-menu"){
                             this.className="nav-second-menuIe";
                         }
                     }
                     getItem[i].onmouseout=function() { 
                         if(     this.className=="nav-second-menuIe"){
                             this.className="nav-second-menu";
                         }
                     }
                 }
             }
             window.onload=fPmVerticalRightOut;
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function(){
             $(".ad > a").click(function(){
                    $color = $(this).css("color");
                    $backgroundColor = $(this).css("background-color");
                    if($color == "rgb(218, 124, 102)")
                    {
                       $(this).css({color:"white",backgroundColor:"rgb(218, 124, 102)"})
                       $(this).html("已关注");
                    }
                    else{
                        $(this).css({color:"rgb(218, 124, 102)",backgroundColor:"transparent"});
                        //有个弹出框
                        $(this).html("+关注");
                    }
             });//点击事件结束
        })
    </script>


</head>
           <!--侧导航内容 end-->
            <!--content start-->
            <div id="content">
                <div class="content-left"></div>
                <div class="content-right">
                    <div class="roler">
                        <div class="introduction">
                            <p style="text-align: center;"><a href="__MODULE__/Other/bookreview_all"><img src="__PUBLIC__/front/images/myphoto.jpg" width="70" height="70" alt="用户头像"/></a></p>
                            <a href="#" id="name"><p>啊哈</p></a>
                            <div class="list">
                                <ul>
                                    <li><a href="__MODULE__/Mine/myBookReview_all">文章</a></li>
                                    <li><a href="__MODULE__/Other/fans">粉丝</a></li>
                                    <li><a href="__MODULE__/Mine/myCollect">收藏</a></li>
                                    <li><a href="__MODULE__/Other/attention">关注</a></li>
                                </ul>
                                <ul>
                                    <li>20</li>
                                    <li>5</li>
                                    <li>56</li>
                                    <li>1</li>
                                </ul>
                            </div>
                        </div>
                        <div class="function">
                        <p class="function-top">作家，出版长篇小说《三重门》，创畅销纪录，并成 为一个优秀赛车手，是中国唯一一位拉力赛和场地赛 双料年度冠军。2010年被《时代周刊》评选为100名影响世界人物之一。其自编自导的处女座电影《后会无期》于2014年2月已开机.</p>
                            <p id="distance"><a href="__MODULE__/Mine/relevant">与我相关</a></p>
                            <p><a href="__MODULE__/Mine/drafts">草稿箱</a></p>
                            <p><a href="__MODULE__/Mine/editmessage">修改信息</a></p>
                            <p><a href="__MODULE__/Mine/mybookslists" id="click">我的书单</a></p>
                        </div>
                    </div> 
                    <ul class="main-title">
                        <li><a href="__MODULE__/Index/index">首页</a></li>
                        <li>&nbsp;/&nbsp;</li>
                        <li>我的粉丝</li>
                    </ul>     
                    <div class="main">                           
                        <volist name="user" id="u">
                            <div class="usermessage">
                                <p style="text-align: center;"><a href="__MODULE__/Mine/bookreview_all"><img src="__PUBLIC__/front/images/myphoto.jpg" width="60" height="60" alt="用户头像"/></a></p>
                                <a href="#" id="uname">{$u.username}</a>
                                <div class="list-user">
                                    <a href="__MODULE__/Mine/bookreview_all">文章</a>
                                    <a href="__MODULE__/Other/fans">粉丝</a>
                                    <a href="__MODULE__/Other/collect">收藏</a>
                                    <a href="__MODULE__/Other/attention">关注</a>
                                    <br/>
                                    <p>{$u.bookreview}</p>
                                    <p>{$u.fan}</p>
                                    <p>{$u.collection}</p>
                                    <p>{$u.attention}</p>
                                    <br/>
                                    <div class="ad">
                                        <a href="#">+关注</a>
                                    </div>
                                </div>
                            </div>
                        </volist>
                                                                                                                                                                                             
                            <div class="usermessage">
                                <p style="text-align: center;"><a href="bookreview_all.html"><img src="__PUBLIC__/front/images/myphoto.jpg" width="60" height="60" alt="用户头像"/></a></p>
                                <a href="#" id="uname">科科</a>
                                <div class="list-user">
                                    <a href="bookreview_all.html">文章</a>
                                    <a href="fans.html">粉丝</a>
                                    <a href="collect.html">收藏</a>
                                    <a href="attention.html">关注</a>
                                    <br/>
                                    <p>20</p>
                                    <p>5</p>
                                    <p>56</p>
                                    <p>3</p>
                                    <br/>
                                    <div class="ad">
                                        <a href="#">+关注</a>
                                    </div>
                                </div>
                            </div>


                    </div>
                </div>
            </div><!-- content结束 --> 
            <footer>
                <p>copyright@hebeinormal university</p>
            </footer>
        </div><!--canvas end-->
    </div><!--container end-->
</body>
</html>
