@charset "utf-8";
/* CSS Document */
* {
	font-size:14px;
	font-family:Arial, "Microsoft YaHei", sans-serif;
	}
html,body {
	margin:0px; 
	height:100%; 
    }
body {
	background-color:rgb(252,252,252);
	border:0;
	padding:0;
	}
a {
	text-decoration:none;
	color:rgb(219,124,102);
	}
.aside-nav {
	width:34px;
	height:100%;
	background-color:#fff;
	border-right:1px solid #eee;
	float:left;
	text-align:center;
	}
.aside-nav img{
	margin-top:360px;
	}
header {
	height:44px;
	color:#fff;
	width:100%;
	background-color:rgb(94,178,240);
	}
.top-nav {
	margin:auto 50px;
	}
.logo {
	float:left;
	padding-top:2px;
	}
#search {
	border:none;
	background:none;
	padding-bottom:8px;
	border-bottom:1px solid #fff;
	width:200px;
	font-size:12px;
	float:left;
	color:#fff;
	margin-left:30%;
	margin-top:10px;
	}
.header-right {
	float:right;
	}	
.header-right a {
	height:20px;
	line-height:44px;
	font-size:12px;
	border:1px solid;
	border-radius:9px;
	padding:2px 12px;
	color:#fff;
	}
.myphoto {
	float:right;
	margin-left:25px;
	}
.myphoto img {
	 border-radius:50%;
	 margin-top:4px;
	 }
.myphoto span {
	font-size:12px;
	line-height:44px;
	float:right;
	margin-left:13px;
	height:13px;
	}
	
	
	
	
	
	
	
	
	
	
#content {
	padding-left: 34px;
}
.introduction{
	width: 220px;
	height: 230px;
	border-right: 1px #D4D4D4 solid;
	border-bottom: 1px #D4D4D4 solid;
	background-color: #F5F5F5;
}
.introduction img{
	margin-top: 30px;
	border-radius:50%;
}
#name{
	color: #67B9FF;
	text-align: center;
}
.list{
	padding-top: 6px;
	padding-left: 10px;
	padding-right: 10px;
}
.list a{
	color: #5eb3ef;
	font-size: 12px;
	font-family: "微软雅黑";
	margin: 12px;
	float: left;
}
.list a:hover{
	text-decoration: none;
}
.list p{
	margin-top: 2px;
	margin-left: 18px;
	margin-right: 18px;
	float: left;
}
.function{
	margin-top: 0;
    width: 220px;
    height: 390px;
    border-right: 1px #D4D4D4 solid;
    background-color: #F5F5F5;
}
.function p{
	text-align: center;
}
#distance{
	padding-top: 30px;
}
.function a{
	color: #da7c66;
	line-height:30px;
	font-size:12px;
	border:1px solid;
	border-radius:9px;
	padding:2px 12px;
	border-color: #dcdcdc;
}
.function a:hover{
	background-color: #da7c66;
	color: #fff;
	text-decoration: none;
}
#click{
	color: #fff;
	background-color: #da7c66;
}
.main{
    position: absolute;
    top: 44px;
	margin-left: 220px;
}
.main p{
	color: #666;
	font-size: 14px;
    margin: 15px 30px;
}
.scale{
	padding: 0px 60px;
	padding-top: 20px;
	border: 1px #eee solid;
	margin: 20px 60px;
	padding-right: 180px;
	background-color: #F5F5F5;
}
.scale img{
	float: left;
	margin-left: -35px;
	border-radius:50%;
}
.username{
	color: #333;
	font-size: 12px;
}
.scale p{
	margin-top: 0;
	color: #666;
}
.fill{
    background-color: #da7c66;
    margin-left: 30px;
    padding-top: 3px;   
}
#setc{
	color: #666;
	font-size: 12px;
	line-height: 24px;
}
.fill p{
	margin-left: 20px;
	color: #fff;
	font-size: 12px;
	position: center;
	line-height: 30px;
}
.fill a{
    color: #fff;
    font-size: 18px;
}
.fill a:hover{
	text-decoration: none;
}
.fill-1{
    background-color: #FFBDA9;
    padding-top: 3px;
    margin-top: -3px;
}
.fill-2{
    background-color: #C1C0C0;
}
#answer{
	text-align: center;
	line-height: 24px;
}
#answer a{
	color: #777;
	font-size: 12px;
}
.time{
	color: #666;
	font-size: 12px;
}