 <div id="dcMain"> <!-- 当前位置 -->
<div id="urHere">畅评首页</div>  
<div id="index" class="mainBox" style="padding-top:18px;height:auto!important;height:550px;min-height:550px;">
      <p style="font-size:20px">欢迎来到畅享书评网站后台管理系统<p><br/>
      <p>登陆次数：1<p><br/>
      <p>上次登陆时间：2016-11-26 10:12:23<p><h3></h3>

   
   
   <div class="indexBox">
    <div class="boxTitle">服务器信息</div>
    <ul>
     <table width="100%" border="0" cellspacing="0" cellpadding="7" class="tableBasic">
      <tr>
        <td width="100" valign="top">服务器计算机名</td>
        <td width="900" valign="top"> </td>
      </tr>
      <tr>
        <td valign="top">服务器IP地址</td>
        <td valign="top"></td>
      </tr>
      <tr>
        <td valign="top">服务器域名</td>
        <td valign="top"></td>
      </tr>
      <tr>
        <td valign="top">服务器端口</td>
        <td valign="top"></td>
      </tr>
      <tr>
        <td valign="top">服务器IIS版本</td>
        <td valign="top"></td>
      </tr>
      <tr>
        <td valign="top">服务器操作系统</td>
        <td valign="top"></td>
      </tr>
       <tr>
        <td valign="top">服务器脚本超过时间</td>
        <td valign="top"></td>
      </tr>
       <tr>
        <td valign="top">服务器语言种类</td>
        <td valign="top"></td>
      </tr>

     </table>
    </ul>
   </div>
   </div>

