 <div id="dcMain">
   <!-- 当前位置 -->
<div id="urHere"><a href="index.html">畅评首页</a><b>></b><strong>关键字管理</strong> </div>   <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
        <h3><tr>
       <td>
        <input type="text" name="unique_id" value="" size="40" class="inpMain" />
       </td>
      </tr> <input name="submit" class="btn" type="submit" value="添加关键字" /></h3>


   
    <div id="list">
    <h3><td align="center">关键字列表</td></h3>
    <form name="action" method="post" action="product.php?rec=action">
    <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
      <tr>
        <th width="22" align="center"><input name='chkall' type='checkbox' id='chkall' onclick='selectcheckbox(this.form)' value='check'></th>
        <th width="40" align="center">ID</th>
        <th width="160" align="center">关键字名称</th>
       <th width="200" align="center">添加日期</th>
        <th width="100" align="center">操作</th>
      </tr>
      <tr>
        <td align="center"><input type="checkbox" name="checkbox[]" value="15" /></td>
        <td align="center">5</td>
        <td align="center"><a href="product.php?rec=edit&id=15">钢铁是怎样炼成的</a></td>
        <td align="center">2013-06-26</td>
        <td align="center">
       <a href="editkeyword.html">编辑</a> | <a href="#">删除</a>
        </td>
      </tr>

     <tr>
        <td align="center"><input type="checkbox" name="checkbox[]" value="15" /></td>
        <td align="center">4</td>
        <td align="center"><a href="product.php?rec=edit&id=15">钢铁是怎样炼成的</a></td>
        <td align="center">2013-06-26</td>
        <td align="center">
         <a href="editkeyword.html">编辑</a> | <a href="#">删除</a>
       </td>
      </tr>


      <tr>
        <td align="center"><input type="checkbox" name="checkbox[]" value="15" /></td>
        <td align="center">3</td>
        <td align="center"><a href="product.php?rec=edit&id=15">钢铁是怎样炼成的</a></td>
        <td align="center">2013-06-26</td>
        <td align="center">
       <a href="editkeyword.html">编辑</a> | <a href="#">删除</a>
        </td>
      </tr>
      <tr>
        <td align="center"><input type="checkbox" name="checkbox[]" value="15" /></td>
        <td align="center">2</td>
        <td align="center"><a href="product.php?rec=edit&id=15">钢铁是怎样炼成的</a></td>
        <td align="center">2013-06-26</td>
        <td align="center">
        <a href="editkeyword.html">编辑</a> | <a href="#">删除</a>
        </td>
      </tr>
      <tr>
        <td align="center"><input type="checkbox" name="checkbox[]" value="15" /></td>
        <td align="center">1</td>
        <td align="center"><a href="product.php?rec=edit&id=15">钢铁是怎样炼成的</a></td>
        <td align="center">2013-06-26</td>
        <td align="center">
         <a href="editkeyword.html">编辑</a> | <a href="#">删除</a>
        </td>
      </tr>
    </table>
    </form>
    </div>
    <div class="clear"></div>
    <div class="pager">总计 5 个记录，共 1 页，当前第 1 页 | <a href="book.html">第一页</a> 上一页 下一页 <a href="book.html">最末页</a></div>               </div>
 </div>