<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>书评内容页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--网页图标-->
    <link rel="shortcut icon" href="__PUBLIC__/front/images/logo2.png" media="screen">
    <link href="__PUBLIC__/front/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/front/css/font-awesome.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/front/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/front/css/headernav.css" />
    <link rel="stylesheet" href="__PUBLIC__/front/css/bookreviewcontent.css" />
    <link rel="stylesheet" href="__PUBLIC__/front/css/collect.css" />
    <link rel="stylesheet" href="__PUBLIC__/front/css/shang.css" />

    <script type="text/javascript" src="__PUBLIC__/front/js/jquery-1.8.3.min.js"> </script>

    <script src="__PUBLIC__/front/js/jquery.js"></script>
    <script src="__PUBLIC__/front/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/front/js/custom.js"></script>
    <script src="__PUBLIC__/front/js/collect.js"></script>


    <script type="text/javascript">
        if (navigator.appName=="Microsoft Internet Explorer") {
            function fPmVerticalRightOut() {
                var getItem = document.getElementById("pmVerticalRightOut").getElementsByTagName("li");
                for (var i=0; i<getItem.length; i++) {
                    getItem[i].onmouseover=function() {
                        if(     this.className=="nav-second-menu"){
                            this.className="nav-second-menuIe";
                        }
                    }
                    getItem[i].onmouseout=function() {
                        if(     this.className=="nav-second-menuIe"){
                            this.className="nav-second-menu";
                        }
                    }
                }
            }
            window.onload=fPmVerticalRightOut;
        }
    </script>



</head>
<body style="overflow:visible;overflow-y:hidden">
<div id="container">
    <div id="canvas">
        <div class="aside-nav toggle-nav">
            <a href="#"><i class="icon-align-justify icon-large"></i></a>
        </div>
        <!--aside-nav end（触发弹出侧栏）-->
        <header>
            <nav class="top-nav">
                <a href="index.html"><img src="__PUBLIC__/front/images/logo.png" width="115" class="logo" height="37" alt="logo" /></a>
                <label for="search"></label>
                <input type="text" id="search" placeholder="输入标签、作者、关键字搜索"/>
                <div class="header-right">
                    <a href="#">写书评</a>
                    <div class="myphoto dropdown">
                        <div class=" dropdown-toggle"  id="dropdownMenu1" data-toggle="dropdown">
                            <img src="__PUBLIC__/front/images/myphoto.jpg" width="35" height="35" alt="我的头像" />
                            <span>mono</span>
                        </div>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">账号设置</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">退出</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header><!--header end-->
        <!--侧导航内容 start-->
        <div id="nav">
            <div class="nav-child">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3"><a href="#"><img src="__PUBLIC__/front/images/myphoto.jpg" width="74" height="74" alt="我的头像" class="nav-photo" /></a><span class="nav-username">mono</span></div>
                </div>
                <div class="row nav-msg">
                    <div class="col-md-10 col-md-offset-1">
                        <ul>
                            <li><a href="#">文章</a></li>
                            <li><a href="#">粉丝</a></li>
                            <li><a href="#">收藏</a></li>
                            <li><a href="#">关注</a></li>
                        </ul>
                        <br />
                        <ul>
                            <li>20</li>
                            <li>5</li>
                            <li>56</li>
                            <li>1</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="nav-write-btn">
                            <a href="#">写书评</a>
                        </div>
                    </div>
                </div>

                <div class="row nav-menu">
                    <div class="col-md-12">
                        <ul class="pmVerticalRightOut" id="pmVerticalRightOut">
                            <li><a href="index.html">首页</a></li>
                            <li class="nav-book-classify"><a href="#" >书评分类</a>
                                <ul class="nav-second-menu">
                                    <li><a href="#">文学</a>
                                        <ul class="nav-third-menu">
                                            <li><a href="#">文集</a></li>
                                            <li><a href="#">纪实文学</a></li>
                                            <li><a href="#">文学理论</a></li>
                                            <li><a href="#">中国古诗词</a></li>
                                            <li><a href="#">戏剧</a></li>
                                            <li><a href="#">文集中国现当代诗歌</a></li>
                                            <li><a href="#">外国诗歌</a></li>
                                            <li><a href="#">民间文学</a></li>
                                            <li><a href="#">外国随笔</a></li>
                                            <li><a href="#">中国古代随笔</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">小说</a>
                                        <ul class="nav-third-menu">
                                            <li><a href="">a</a></li>
                                            <li><a href="">b</a></li>
                                            <li><a href="">c</a></li>
                                            <li><a href="">d</a></li>
                                            <li><a href="">e</a></li>
                                            <li><a href="">f</a></li>
                                            <li><a href="">j</a></li>
                                            <li><a href="">h</a></li>
                                            <li><a href="">i</a></li>
                                            <li><a href="">g</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">哲学</a></li>
                                    <li><a href="#">社会科学</a></li>
                                    <li><a href="#">文化</a></li>
                                    <li><a href="#">教育</a></li>
                                    <li><a href="#">艺术</a></li>
                                    <li><a href="#">自然科学</a></li>
                                    <li><a href="#">工业技术</a></li>
                                </ul>
                            </li>
                            <li><a href="#">作家专栏</a></li>
                            <li><a href="#">推荐书评</a></li>
                            <li><a href="#">图书热榜</a></li>
                            <li><a href="#">推荐书单</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="nav-feedback-btn">
                        <a href="#" id="sugPost" hidefocus="true">意见反馈</a>
                    </div>
                </div>

            </div>
        </div>
        <!--侧导航内容 end-->
        <!--content start-->
        <div id="content">
            <div class="content-right">
                <!--真正的内容部分-->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1  content-center">
                            <div class="row">
                                <ul class="breadcrumb">
                                    <li><a href="__MODULE__/Index/index">首页</a></li>
                                    <li class="active">书评内容</li>
                                </ul>
                            </div>
                            <div class="row rowmsg">
                                <div class="col-md-6 col-sm-6">
                                    <a href="bookreview_all.html">
                                        <img src="__PUBLIC__/front/images/myphoto.jpg" class="myphoto2" alt="用户头像" width="44" height="44" /></a>
                                    <ul class="comment-msg1">
                                        <li><span>MONO</span><span>2016-12-21 08:13</span></li>
                                        <li>
                                            <span>阅读</span><span name="viewtimes">{$info.viewtimes}</span>
                                            <span>评论</span><span> 2</span>
                                            <span>喜欢</span><span> 1</span>
                                            <span>收藏</span><span> 1</span>
                                        </li>
                                    </ul>
                                    <div class="clear"></div>
                                    <div class="comment-tag">
                                        <div>
                                            <span>图书分类：</span>
                                            <a href="tags.html">外国文学</a>
                                        </div>
                                        <div class="book">
                                            <span>评论图书：《漫长的中场休息》</span>
                                            <span class="bookauthor">作者：本方登</span>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6 col-sm-6 three-btn">
                                    <button type="button" class="btn btn-default care" id="concern">关注</button>
                                    <button type="button" class="btn btn-default collectbooksreview" id="collectBook">收藏书评</button>
                                    <button class="btn btn-default thebookreview" id="bookSummary">本书简介</button>
                                    <div class="clear"></div>
                                    <div class="download">
                                        <button type="button" class="btn btn-default">下载</button>
                                        <button class="btn btn-default">打印</button>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="article">
                                <h3 name="title">{$bookReview.title}</h3>
                                <div name="content">
                                    <p>{$bookReview.content}</p>
                                </div>
                            </div>
                            <div class="content">
                                <p><a href="javascript:void(0)" onclick="dashangToggle()" class="dashang" title="打赏，支持一下">赏</a></p>
                                <div class="hide_box"></div>
                                <div class="shang_box">
                                    <a class="shang_close" href="javascript:void(0)" onclick="dashangToggle()" title="关闭"><img src="__PUBLIC__/front/images/close%20.jpg" alt="取消" /></a>
                                    <div class="shang_tit">
                                        <p>感谢您的支持，我会继续努力的!</p>
                                    </div>
                                    <div class="shang_payimg">
                                        <img src="__PUBLIC__/front/images/alipayimg.jpg" alt="扫码支持" title="扫一扫" />
                                    </div>
                                    <div class="pay_explain">扫码打赏，你说多少就多少</div>
                                    <div class="shang_payselect">
                                        <div class="pay_item checked" data-id="alipay">
                                            <span class="radiobox"></span>
                                            <span class="pay_logo"><img src="__PUBLIC__/front/images/alipay.jpg" alt="支付宝" /></span>
                                        </div>
                                        <div class="pay_item" data-id="weipay">
                                            <span class="radiobox"></span>
                                            <span class="pay_logo"><img src="__PUBLIC__/front/images/wechat.jpg" alt="微信" /></span>
                                        </div>
                                    </div>
                                    <div class="shang_info">
                                        <p>打开<span id="shang_pay_txt">支付宝</span>扫一扫，即可进行扫码打赏哦</p>
                                    </div>
                                </div>
                            </div>

                            <hr />
                            <div class="row">
                                <div class="col-md-1">
                                    <button type="button" class="btn btn-default likebooksreview">
                                        <img src="__PUBLIC__/front/images/heart.png" width="11px" height="auto">喜欢
                                    </button>
                                </div>
                                <div class="col-md-7"></div>
                                <div class="col-md-4">
                                    <div class="sharebtn">
                                        <div class="bdsharebuttonbox">
                                            <a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 对书评的评论部分 -->
                            <!-- 评论数目 -->
                            <div class="row reviewtimes">
                                <div class="col-md-12">
                                    <span>10条评论</span>
                                </div>
                            </div>
                            <!--评论内容输入框-->
                            <div class="row">
                                <!--用户头像-->
                                <div class="userphoto">
                                    <a href=""><img src="__PUBLIC__/front/images/myphoto.jpg" alt="" width="35" height="35"></a>
                                    <!--输入框-->
                                    <input type="text" value="">
                                    <a href=""><img src="__PUBLIC__/front/images/emoji.png" alt="" width="20" height="20" class="emoji"></a>
                                    <!--评价按钮-->
                                    <a href="" class="reviewbtn">评价</a>
                                </div>
                            </div>
                            <!--评论内容部分-->
                            <div class="row">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="reviewleft">
                                                <a href=""><img src="__PUBLIC__/front/images/myphoto.jpg" class="otheruserphoto" width="35" height="35" alt="我的头像"/></a>
                                                <div class="author">
                                                    <a href="">阿念:</a>
                                                </div>
                                            </div>
                                            <div class="reviewright">
                                                <p>一本美国的超级小说，低配版加现在时的《了不起的盖茨比》。当美国梦由个人梦转化为国家梦时，牵扯到的就不止是美国人了。李安的电影方向应该与原著不同，所以更期待电影的是技术。</p>
                                                <div>
                                                    <div class="timeagoleft">
                                                        <span>35分钟前</span>
                                                    </div>
                                                    <div class="timeagoright">
                                                        <img src="__PUBLIC__/front/images/delsupport.png" alt="">
                                                        <span>1</span>
                                                        <a href="">回复</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="reviewleft">
                                                <a href=""><img src="__PUBLIC__/front/images/myphoto.jpg" class="otheruserphoto" width="35" height="35" alt="我的头像" /></a>
                                                <div class="author">
                                                    <a href="">阿念:</a>
                                                </div>
                                            </div>
                                            <div class="reviewright">
                                                <p>一本美国的超级小说，低配版加现在时的《了不起的盖茨比》。当美国梦由个人梦转化为国家梦时，牵扯到的就不止是美国人了。李安的电影方向应该与原著不同，所以更期待电影的是技术。</p>
                                                <div>
                                                    <div class="timeagoleft">
                                                        <span>35分钟前</span>
                                                    </div>
                                                    <div class="timeagoright">
                                                        <img src="__PUBLIC__/front/images/delsupport.png" alt="">
                                                        <span>1</span>
                                                        <a href="">回复</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="reviewleft">
                                                <a href=""><img src="__PUBLIC__/front/images/myphoto.jpg" class="otheruserphoto" width="35" height="35" alt="我的头像" /></a>
                                                <div class="author">
                                                    <a href="">阿念:</a>
                                                </div>
                                            </div>
                                            <div class="reviewright">
                                                <p>一本美国的超级小说，低配版加现在时的《了不起的盖茨比》。当美国梦由个人梦转化为国家梦时，牵扯到的就不止是美国人了。李安的电影方向应该与原著不同，所以更期待电影的是技术。</p>
                                                <div>
                                                    <div class="timeagoleft">
                                                        <span>35分钟前</span>
                                                    </div>
                                                    <div class="timeagoright">
                                                        <img src="__PUBLIC__/front/images/delsupport.png" alt="">
                                                        <span>1</span>
                                                        <a href="">回复</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="row">

                                <nav>
                                    <ul class="pagination">
                                        <li><a href="">&laquo;</a></li>
                                        <li class="active"><a href="">1</a></li>
                                        <li><a href="">2</a></li>
                                        <li><a href="">3</a></li>
                                        <li><a href="">4</a></li>
                                        <li><a href="">5</a></li>
                                        <li><a href="">&raquo;</a></li>
                                    </ul>
                                </nav>

                            </div>
                        </div> <!--content center end-->
                    </div><!--row end-->
                    <footer>
                        <p>copyright@hebeinormal university</p>
                    </footer>
                </div><!-- container-fluid -->
            </div><!--contnet rigt end-->
        </div><!-- content结束 -->



    </div><!--canvas end-->
</div><!--container end-->
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName("head")[0]||body).appendChild(createElement("script")).src="http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion="+~(-new Date()/36e5)];</script>
<script type="text/javascript">
    $(function() {
        $(".pay_item").click(function() {
            $(this).addClass('checked').siblings('.pay_item').removeClass('checked');
            var dataid = $(this).attr('data-id');
            $(".shang_payimg img").attr("src", "__PUBLIC__/front/images/" + dataid + "img.jpg");
            $("#shang_pay_txt").text(dataid == "alipay" ? "支付宝" : "微信");
        });
    });
    function dashangToggle() {
        $(".hide_box").fadeToggle();
        $(".shang_box").fadeToggle();
    }
</script>
</body>
</html>
