<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>他的收藏</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="__PUBLIC__/front/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/front/css/font-awesome.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/front/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/front/css/aside-nav.css" />
    
    <link rel="stylesheet" href="__PUBLIC__/front/css/jquery.mCustomScrollbar.css" />
    <link rel="stylesheet" href="__PUBLIC__/front/css/myBookReview_all.css" />
    <link rel="stylesheet" href="__PUBLIC__/front/css/alert-feedback.css">

</head>
<style type="text/css">
    .mCSB_container{
        width: 3000px;
    }
</style>
            <!--侧导航内容 end-->
            <!--content start-->

            <div id="content">
                <div class="content-left">
                	<div class="roler">
                        <div class="introduction">
                            <p style="text-align: center;"><img src="__PUBLIC__/front/images/myphoto.jpg" width="70" height="70" alt="用户头像"/></p>
                            <a href="author_trend.html" id="name"><p>啊哈</p></a>
                            <div class="list">
                                <ul>
                                    <li><a href="__MODULE__/Mine/myBookReview_all">文章</a></li>
                                    <li><a href="__MODULE__/Other/fans">粉丝</a></li>
                                    <li><a href="__MODULE__/Other/collect">收藏</a></li>
                                    <li><a href="__MODULE__/Other/attention">关注</a></li>
                                </ul>
                                <ul>
                                    <li>20</li>
                                    <li>5</li>
                                    <li>58</li>
                                    <li>1</li>
                                </ul>
                            </div>
                        </div>
                        <div class="function">
                            <p class="function-top">作家，出版长篇小说《三重门》，创畅销纪录，并成 为一个优秀赛车手，是中国唯一一位拉力赛和场地赛 双料年度冠军。2010年被《时代周刊》评选为100名影响世界人物之一。其自编自导的处女座电影《后会无期》于2014年2月已开机.</p>
                            <p id="distance"><a href="__MODULE__/Other/privatemes" id="click">写私信</a></p>
                            <p><a href="__MODULE__/Other/attention">关注</a></p>
                            <p><a href="__MODULE__/Mine/booklist">他的书单</a></p>
                        </div>
                    </div>
                </div>
                <div class="content-right">
                    <div class="content-right-top">
                        <ol> 
                            <li><a href="__MODULE__/Index/index">首页</a></li> 
                            <li>&nbsp;/&nbsp;</li>
                            <li><a href="__MODULE__/Other/collect" class="active">他的收藏</a></li> 
                        </ol>
                    </div>
                    <form method="get" action="__MODULE__/Mine/deletebookreview">
                    <div class="content-right-bottom">
                        <div class="content-book-comments">
                            <volist name="bookreview" id="br">
                                <div class="content-book-comment1 book-comment1" name="bookreviewId[]" value="{$br.bookreviewid}">
                                    <a id="modal-8801" href="#modal-container-8801" role="button"  data-toggle="modal"><img src="__PUBLIC__/front/images/close.png" alt="删除我的文章书评" width="20" height="20" class="close"></a>

                                    <div class="modal fade" id="modal-container-8801" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:10%;margin-left:10%;">
                                        <div class="modal-dialog">
                                            <div class="modal-content collectCon">
                                                <div class='alert-collect'>
                                                    <p><img src='__PUBLIC__/front/images/？.png'></p><br/>
                                                    <p id='colsuccess'>确实要删除书评吗？</p>
                                                </div>
                                                <div class='alert-collect-footer'>
                                                    <a href="__MODULE__/Mine/deletebookreview/bookreviewId/{$br.bookreviewid}" id='y' type='submit' value='确定'>确定</a>
                                                    <input type="button" data-dismiss="modal" aria-hidden="true" value='取消' id='n'>
                                                </div>                 
                                            </div> 
                                        </div>                                           
                                    </div>

                                    <div class="comment-top">
                                        <div class="row1">
                                            <img src="__PUBLIC__/front/images/myphoto.jpg" width="44" height="44" alt="我的头像" class="comment-photo" />
                                            <ul class="comment-msg1">
                                                <li><span>{$br.username}</span>&nbsp;&nbsp;&nbsp;<span>{$br.publishtime}</span></li>
                                                <li>
                                                    阅读<span> {$br.viewtimes}</span>
                                                    评论<span> {$br.commenttimes}</span>
                                                    喜欢<span> {$br.likequantity}</span>
                                                    收藏<span> {$br.collecttimes}</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="row2">
                                            <ul class="comment-msg2">
                                                <li>标签：<a href="__MODULE__/Index/tags">{$br.tagname}</a></li>
                                                <li>评论图书：<a href="__MODULE__/Index/tagbook" name="bookname">《{$br.bookname}》</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="comment-bottom">
                                        <h3>{$br.title}</h3>
                                        <p>{$br.content}... </p>
                                        <div class="comment-more-btn">
                                            <a href="__MODULE__/Book/bookreviewcontent/bookreviewid/{$br.bookreviewid}">浏览全文</a>
                                        </div>
                                    </div>
                                </div>
                            </volist>

                        </div><!--bookscontainer结束-->
                    </div><!-- content-right-bottom结束 -->

                    </form>
                </div><!-- content-book-comments-right结束 --> 
            </div><!-- content结束 --> 


            <footer>
                <p>copyright@hebeinormal university</p>
            </footer>
        </div><!--canvas end-->
    </div><!--container end-->
    
    <script src="__PUBLIC__/front/js/jquery.min.js"></script>
    <script src="__PUBLIC__/front/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/front/js/custom.js"></script>
    <script src="__PUBLIC__/front/js/alert-feedback.js"></script>

    <script src="__PUBLIC__/front/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script>
        (function($){
            $(window).load(function(){           
                $(".content-right-bottom").mCustomScrollbar({
                    horizontalScroll:true,
                    scrollButtons:{
                        enable:true,     
                    },
                    theme:"dark-thin"
                });
            });
        })(jQuery);
    </script>
    <script type="text/javascript">
        if (navigator.appName=="Microsoft Internet Explorer") {
             function fPmVerticalRightOut() {
                 var getItem = document.getElementById("pmVerticalRightOut").getElementsByTagName("li");
                 for (var i=0; i<getItem.length; i++) {
                     getItem[i].onmouseover=function() { 
                         if(     this.className=="nav-second-menu"){
                             this.className="nav-second-menuIe";
                         }
                     }
                     getItem[i].onmouseout=function() { 
                         if(     this.className=="nav-second-menuIe"){
                             this.className="nav-second-menu";
                         }
                     }
                 }
             }
             window.onload=fPmVerticalRightOut;
        }
    </script>
</body>
</html>
