<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>私信</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="__PUBLIC__/front/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/front/css/font-awesome.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/front/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/front/css/aside-nav.css" />
    <link rel="stylesheet" href="__PUBLIC__/front/css/private.css" />
    <link rel="stylesheet" href="__PUBLIC__/front/css/alert-feedback.css">


    <script src="__PUBLIC__/front/js/jquery.js"></script>
    <script src="__PUBLIC__/front/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/front/js/custom.js"></script>
    <script src="__PUBLIC__/front/js/alert-feedback.js"></script>

    <script type="text/javascript">
        if (navigator.appName=="Microsoft Internet Explorer") {
             function fPmVerticalRightOut() {
                 var getItem = document.getElementById("pmVerticalRightOut").getElementsByTagName("li");
                 for (var i=0; i<getItem.length; i++) {
                     getItem[i].onmouseover=function() { 
                         if(     this.className=="nav-second-menu"){
                             this.className="nav-second-menuIe";
                         }
                     }
                     getItem[i].onmouseout=function() { 
                         if(     this.className=="nav-second-menuIe"){
                             this.className="nav-second-menu";
                         }
                     }
                 }
             }
             window.onload=fPmVerticalRightOut;
        }
    </script>
</head>
            <!--侧导航内容 end-->
            <!--content start-->
            <div id="content">
                <div class="content-left">
                    <div class="content-left-top">
                        <p style="text-align: center;"><a href="bookreview_all.html"><img src="__PUBLIC__/front/images/1c.jpg" width="70" height="70" alt="用户头像"/></a></p>
                        <a href="author_trend.html" id="name"><p>fygd</p></a>
                        <div class="content-left-top-msg">
                            <ul>
                                <li><a href="__MODULE__/Mine/bookreview_all">文章</a></li>
                               <li><a href="__MODULE__/Other/fans">粉丝</a></li>
                                    <li><a href="__MODULE__/Other/collect">收藏</a></li>
                                    <li><a href="__MODULE__/Other/attention">关注</a></li>
                            </ul>
                            <br />
                            <ul>
                                <li>20</a></li>
                                <li>88</li>
                                <li>56</li>
                                <li>28</li>
                            </ul>
                        </div>
                    </div><!-- content-left-top结束 --> 
                    <div class="content-left-bottom">
                    <p class="function-top">作家，出版长篇小说《三重门》，创畅销纪录，并成 为一个优秀赛车手，是中国唯一一位拉力赛和场地赛 双料年度冠军。2010年被《时代周刊》评选为100名影响世界人物之一。其自编自导的处女座电影《后会无期》于2014年2月已开机.</p>
                        <p id="btn-top"><a href="__MODULE__/Other/privatemes" id="btn-bottom">写私信</a></p>
                        <p><a href="#">加关注</a></p>
                        <p><a href="__MODULE__/Other/userbooklist">他的书单</a></p>
                    </div><!-- content-left-bottom结束 --> 
                </div><!-- content-left结束 --> 
                <div class="content-right">
                    <div class="content-right-top">
                        <ol> 
                            <li><a href="__MODULE__/Index/index">首页</a></li> 
                            <li>&nbsp;/&nbsp;</li>
                            <li><a href="__MODULE__/Other/privatemes" class="active">写私信</a></li> 
                        </ol>
                    </div><!-- content-right-top结束 --> 
                    <div class="content-right-bottom">
                        <volist name="message" id="m">
                            <div class="scale">
                                <img src="__PUBLIC__/front/images/myphoto.jpg" width="52" height="52" alt="消息头像">
                                <p>{$m.content}</p>
                            </div>
                            <div class="scale1">
                                <p>{$m.content}</p>
                                <img src="__PUBLIC__/front/images/1c.jpg" width="52" height="52" alt="消息头像">
                            </div>
                        </volist>
                        <!-- <volist name="message" id="m">
                            <div class="scale">
                                <img src="__PUBLIC__/front/images/myphoto.jpg" width="52" height="52" alt="消息头像">
                                <p>{$m.content}</p>
                            </div>
                        </volist>
                        <volist name="mes" id="s">
                            <div class="scale1">
                                <p>{$m.content}</p>
                                <img src="__PUBLIC__/front/images/1c.jpg" width="52" height="52" alt="消息头像">
                            </div>
                        </volist> -->
                        <div class="scale2">
                            <input placeholder="输入消息" type="text">
                            <img src="__PUBLIC__/front/images/emoji.png" width="32" height="32" alt="消息头像">
                            <a href="#">发送</a>
                        </div>

                    </div><!-- content-right-bottom结束 --> 
                </div><!-- content-right结束 --> 
            </div><!-- content结束 --> 
            <footer>
                <p>copyright@hebeinormal university</p>
            </footer>
        </div><!--canvas end-->
    </div><!--container end-->
</body>
</html>
