<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>他的书单</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="__PUBLIC__/front/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/front/css/font-awesome.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/front/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/front/css/headernav.css" />
    <link rel="stylesheet" href="__PUBLIC__/front/css/booklist.css" />
    <!-- <link rel="stylesheet" href="__PUBLIC__/front/css/alert-delete.css"> -->

    <script src="__PUBLIC__/front/js/jquery.js"></script>
    <script src="__PUBLIC__/front/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/front/js/custom.js"></script>

</head>
            <!--侧导航内容 end-->
            <!--content start-->
            <div id="content">
                <div class="content-left"></div>
                <div class="content-right">
                <div class="roler">
                        <div class="introduction">
                            <p style="text-align: center;"><img src="__PUBLIC__/front/images/myphoto.jpg" width="70" height="70" alt="用户头像" onclick="window.location.href='myBookReview_all.html'"
                            /></p>
                            <a href="#" id="name"><p>啊哈</p></a>
                            <div class="list">
                                <ul>
                                    <li><a href="__MODULE__/Mine/myBookReview_all">文章</a></li>
                                    <li><a href="__MODULE__/Other/fans">粉丝</a></li>
                                    <li><a href="__MODULE__/Other/collect">收藏</a></li>
                                    <li><a href="__MODULE__/Other/attention">关注</a></li>
                                </ul>
                                <ul>
                                    <li>20</li>
                                    <li>5</li>
                                    <li>56</li>
                                    <li>1</li>
                                </ul>
                            </div>
                        </div>
                        <div class="function">
                        <p class="function-top">作家，出版长篇小说《三重门》，创畅销纪录，并成 为一个优秀赛车手，是中国唯一一位拉力赛和场地赛 双料年度冠军。2010年被《时代周刊》评选为100名影响世界人物之一。其自编自导的处女座电影《后会无期》于2014年2月已开机.</p>
                            <p id="distance"><a href="__MODULE__/Other/privatemes">写私信</a></p>
                            <p><a href="#">加关注</a></p>
                            <p><a href="__MODULE__/Other/userbooklist" style="color:#fff; background-color: #da7c66;">他的书单</a></p>
                        </div>
                </div>
                <p class="main-title">他的书单</p>
                 <form method="get" action="__MODULE__/Mine/deletetag">
                <div class="main">
                    <div class="scale">
                        <volist name="tags" id="t" key="k">
                            <div class="scale{$k%2}">
                                <a href="__MODULE__/Mine/mybookslists">{$t.tagname}</a>
                                <a id="modal-8802" href="#modal-container-8802"  data-toggle="modal"><img src="__PUBLIC__/front/images/close.png" alt="删除按钮" width="20" height="20" /></a>

                                <div class="modal fade" id="modal-container-8802" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:10%;margin-left:10%;">
                                    <div class="modal-dialog">
                                        <div class="modal-content collectCon">
                                            <div class='alert-collect'>
                                                <p><img src='__PUBLIC__/front/images/？.png'></p><br/>
                                                <p id='colsuccess'>确实要删除书评吗？</p>
                                            </div>
                                            <div class='alert-collect-footer'>
                                                <a href="__MODULE__/Mine/deletetag/tagId/{$t.tagid}" id='y' type='submit' value='确定'>确定</a>
                                                <input type="button" data-dismiss="modal" aria-hidden="true" value='取消' id='n'>
                                            </div>                 
                                        </div> 
                                    </div>      
                                </div>

                            </div>
                        </volist>
                    </div>   
                   
                </div> <!--main结束-->
                </form>
            </div>
        </div><!-- content结束 -->a

            <footer>
                <p>copyright@hebeinormal university</p>
            </footer>
        </div><!--canvas end-->
    </div><!--container end-->
</body>
</html>







