 <div id="dcMain">
   <!-- 当前位置 -->
<div id="urHere"><a href="index.html">畅评首页</a><b>></b><strong>评论管理</strong> </div>   <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
        <h3><a href="addcomment.html?rec=add" class="actionBtn add">添加评论</a>评论列表</h3>
    
        <div id="list">
    <form name="action" method="post" action="product.php?rec=action">
    <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
      <tr>
        <th width="22" align="center"><input name='chkall' type='checkbox' id='chkall' onclick='selectcheckbox(this.form)' value='check'></th>
        <th width="40" align="center">ID</th>
        <th width="100" align="center">用户ID</th>
         <th width="100" align="center">书评ID</th>
          <th width="300">评论内容</th>
       <th width="300" align="center">评论时间</th>
        <th width="350" align="center">操作</th>
      </tr>
      <volist name="list" id="vo">
          <tr>
              <td align="center"><input type="checkbox" name="checkbox[]" value="5" /></td>
              <td align="center">{$vo.commentid}</td>
              <td align="center">{$vo.commentuserid}</td>
              <td align="center">{$vo.bookreviewid}</td>
              <td><p style="font-size:14px">{$vo.commentcontent}</p></td>
              <td align="center">{$vo.commenttime}</td>
              <td align="center">
                  <a href="editcomment.html">编辑</a> | <a href="#">删除</a>
              </td>
          </tr>
      </volist>
    </table>
    </form>
    </div>
    <div class="clear"></div>
    <div class="pager">总计 5 个记录，共 1 页，当前第 1 页 | <a href="comment.html">第一页</a> 上一页 下一页 <a href="comment.html">最末页</a></div>               </div>
 </div>