 <div id="dcMain">
   <!-- 当前位置 -->
<div id="urHere"><a href="index.html">畅评首页</a><b>></b><strong>评论管理</strong> </div>   <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
        <h3><a href="addcomment.html?rec=add" class="actionBtn add">添加评论</a>评论列表</h3>
        <div id="list">
    <form name="action" method="post" action="product.php?rec=action">
    <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
      <tr>
        <th align="center"><input name='chkall' type='checkbox' id='chkall' onclick='selectcheckbox(this.form)' value='check'></th>
        <th align="center">评论用户</th>
        <th align="center">评论内容</th>
        <th align="center">回复用户</th>
        <th align="center">回复内容</th>
        <th align="center">发表时间</th>
        <th align="center">操作</th>
      </tr>
      <volist name="list" id="vo">
          <tr>
              <td align="center"><input type="checkbox" name="checkbox[]" value="5" /></td>
              <td align="center">评论用户名</td>
              <td align="center">{$vo.commentcontent}</td>
              <td align="center">回复用户名</td>
              <td><p style="font-size:14px">{$vo.replycontent}</p></td>
              <td align="center">{$vo.commenttime}</td>
              <td align="center">
                  <a href="editcomment.html">编辑</a> | <a href="#">删除</a>
              </td>
          </tr>
      </volist>
    </table>
    </form>
    </div>

    <!--分页效果-->
     {$page}
 </div>
 </div>